<div class="col-sm-3" style="margin-top:9px;margin-bottom:9px;">
  <div class="panel panel-primary" data-collapsed="0" style="margin-bottom:0px;">
   	<div class="panel-body" style="margin:0px;padding:0px;">
    	<article class="album" style="margin-bottom:0px;border-width:0px;">
    		<header>
          <a href="<%=url_for(:controller => "menumalist", :action => "category", :menu_title => navigation.menu.title.gsub(" ","-"), :menu_id => navigation.menu.id, :navigation_title => navigation.title.gsub(" ","-"), :navigation_id => navigation.id) %>">
            <img class="unveil" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%=navigation.image.present? ? navigation.image.url(:cropped_default_retina) : "http://placehold.it/828x552" %>">
    			</a>
    		</header>
       	<div class="panel-heading">
          <input type="hidden" name="navigation_ids[<%=navigation.id %>]" value="">
       		<div class="panel-title ellipsis" style="word-wrap: break-word; overflow: hidden;">
            <%=navigation.title %>
          </div>
       	</div>
    		<footer>
		      <div class="album-images-count" style="padding-left:10px;padding-right:10px;">
            <% if navigation.sub_navigations.count > 0 %>
		      	<%=navigation.sub_navigations.count %>
		      	<i class="entypo-folder"></i>
            <% elsif navigation.dishes.count > 0 %>
		      	<%=navigation.dishes.count %>
		      	<i class="glyphicon glyphicon-cutlery"></i>
            <% end %>
		      </div>
        	<div class="album-options">
        	  <a href="javascript:;" onclick="jQuery('#modal-editnavigation-<%=navigation.id %>').modal('show');">
        	  	<i class="entypo-cog"></i>
        	  </a>
        	</div>
    		</footer>
    	</article>
   	</div>
  </div>
</div>