<div class="col-sm-3">
    <div class="panel panel-primary pl8-dish" data-collapsed="0">
        <div class="panel-body">
        <div class="pl8-tag pl8-tag-top-right"><%= daily_dish.price %> €</div>
        <% if showDate %>
            <div class="pl8-tag pl8-tag-top-left"><%= daily_dish.display_date.strftime("%d. %B %Y") %></div>
        <% end %>
            <article class="album">
                <header>
                    <img class="unveil"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                         data-src="<%= daily_dish.image.url(:cropped_default_retina) %>" />
                </header>
                <div class="panel-heading" style="cursor:default;">
                    <input type="hidden" name="daily_dish_ids[<%= daily_dish.id %>]" value="">
                    <div class="panel-title ellipsis">
                        <%= daily_dish.title %>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>