<% content_for :body_class, "page-body" %>
<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/dashboard_menuheader" %>
    <%=render :partial => "layouts/dashboard_menu" %>
  </div>
  <div class="main-content">
    <%=render :partial => "layouts/dashboard_topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="<%=url_for :controller => "dashboard", :action => "index" %>"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
    <div class="row">
      <div class="col-sm-4">
    	 	<div class="tile-stats tile-gray">
    	 		<div class="icon"><i class="entypo-user"></i></div>
    	 		<div class="num" data-start="0" data-end="<%=@user.menus.count %>" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;">0</div>
    	 		<h3>menus</h3>
          <a href="<%=url_for :controller => "menumalist", :action => "index" %>"><p>
            <button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
              view all menus
              <i class="entypo-user"></i>
            </button>
          </p></a>
    	  </div>
    	</div>
      <div class="col-sm-4">
    	 	<div class="tile-stats tile-red">
    	 		<div class="icon"><i class="entypo-quote"></i></div>
    	 		<div class="num" data-start="0" data-end="<%=@user.daily_dishes.where(:display_date => Date.today).count %>" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;">0</div>
          <span style="color:#fff;font-size:28px;display:inline-block;margin-left:10px;">(<%=@user.daily_dishes.count %>)</span>
    	 		<h3>daily dishes today (all)</h3>
          <a href="<%=url_for :controller => "dailycious", :action => "index" %>"><p>
            <button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
              view all daily dishes
              <i class="entypo-quote"></i>
            </button>
          </p></a>
    	  </div>
    	</div>
    </div>
  </div>
</div>