<ol class="breadcrumb bc-3">
	<li>
		<a href="<%= dashboard_index_path %>"><i class="entypo-home"></i><%=t("layouts.menu.dashboard") %></a>
	</li>
	<li class="active">
		<strong><%=t("layouts.menu.dashboard") %></strong>
	</li>
</ol>
<h2><%=t("layouts.menu.dailycious") %></h2>
<br />
<%
requests_last_7days = Request.where({
	:controller => "app/dailycious",
	:action => "user",
	:params => {
		:q => current_user.id.to_s
	}.to_json
}).where([
	"created_at >= (?) AND created_at <= (?)", 
	Date.today-13,
	Date.today-6
]).count
requests_this_7days = Request.where({
	:controller => "app/dailycious",
	:action => "user",
	:params => {
		:q => current_user.id.to_s
	}.to_json
}).where([
	"created_at >= (?)",
	Date.today-6
]).count
%>
<div class="row">
	<div class="col-sm-4">
		<div class="tile-stats tile-white tile-white-primary">
			<div class="icon"><i class="entypo-users"></i></div>
			<div class="num" data-start="0" data-end="<%=requests_this_7days %>" data-duration="1500" data-delay="0">0</div>
		
			<h3><%=t("dashboard.visits") %></h3>
			<p><%=t("dashboard.in_the_last_7_days") %></p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="tile-stats tile-white tile-white-primary">
			<div class="icon"><i class="entypo-star"></i></div>
			<div class="num" data-start="0" data-end="<%=current_user.restaurant.favoriteRestaurants.count %>" data-duration="1500" data-delay="0">0</div>
		
			<h3><%=t("dashboard.favorites") %></h3>
			<p><%=current_user.restaurant.name %></p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="tile-stats tile-white tile-white-primary">
			<div class="icon"><i class="entypo-direction"></i></div>
			<div class="num" data-start="0" data-end="<%=current_user.restaurant.daily_dishes.where([
						"display_date > (?)",
						Date.today-7
					]).count %>" data-duration="1500" data-delay="0">0</div>
		
			<h3><%=t("dashboard.daily_dishes") %></h3>
			<p><%=t("dashboard.published_in_the_last_7_days") %></p>
			<a href="<%= dailycious_path %>"><p>
				<button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
					<%=t("dashboard.view_all_daily_dishes") %>
					<i class="entypo-user"></i>
				</button>
			</p></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="tile-stats tile-white stat-tile">
			<h3><%=([requests_this_7days-requests_last_7days, 0].max/[requests_last_7days, 1].max)*100.0 %>% <%=t("dashboard.more") %> </h3>
			<p><%=t("dashboard.visits_in_the_last_7_days") %></p>
			<span class="weekly-visitors"></span>
		</div>		
	</div>
	<%
	requests_this_7days_peaks = Request.select("date(created_at)").where({
		:controller => "app/dailycious",
		:action => "user",
		:params => {
			:q => 1.to_s
		}.to_json
	}).where([
		"created_at >= (?)",
		Date.today-13
	]).group("date(created_at)").count
	%>
	<div class="col-sm-4">
		<div class="tile-stats tile-white tile-white-primary">
			<div class="icon"><i class="entypo-star-empty"></i></div>
			<div class="num" data-start="0" data-end="<%=current_user.restaurant.favoriteRestaurants.where([
						"created_at >= (?) AND created_at <= (?)",
						Date.today-7,
						Date.today
					]).count %>" data-duration="1500" data-delay="0">0</div>
		
			<h3><%=t("dashboard.new_favorites") %></h3>
			<p><%=t("dashboard.in_the_last_7_days") %></p>
		</div>
	</div>
</div>
<h2><%=t("layouts.menu.menumalist") %></h2>
<br />
<div class="row">
	<div class="col-sm-4">
		<div class="tile-stats tile-white">
			<div class="icon">
				<i class="glyphicon glyphicon-download"></i>
			</div>
			<div class="num">
				<h2><%=current_user.restaurant.download_code %></h2>
			</div>
			<div class="title">
				<p><%=t("menumalist.download_code_title") %></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="tile-stats tile-white">
			<div class="icon"><i class="entypo-monitor"></i></div>
			<div class="num" data-start="0" data-end="<%=current_user.restaurant.clients.actives.count %>" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;">0</div>
			<span style="color:#000;font-size:28px;display:inline-block;margin-left:10px;">/ 1</span>
			<h3><%=current_user.restaurant.clients.actives.count == 1 ? t("menumalist.installation") : t("menumalist.installations") %></h3>
			<p><%=current_user.restaurant.clients.actives.count == 1 ? t("menumalist.installation_on_iPad") : t("menumalist.installations_on_iPads") %>
				<button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
					<%=t("menumalist.installations_want_more") %>
					<i class="entypo-plus"></i>
				</button>
			</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="tile-stats tile-white tile-white-primary">
			<div class="icon"><i class="entypo-docs"></i></div>
			<div class="num" data-start="0" data-end="<%=current_user.restaurant.menus.count %>" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;">0</div>
			<h3><%=t("dashboard.menus") %></h3>
			<a href="<%= menus_path %>"><p>
				<button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
					<%=t("dashboard.view_all_menus") %>
					<i class="entypo-user"></i>
				</button>
			</p></a>
		</div>
	</div>
</div>