<% content_for :body_class, "page-body" %>
<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/dashboard_menuheader" %>
    <%=render :partial => "layouts/dashboard_menu" %>
  </div>
  <div class="main-content">
    <%=render :partial => "layouts/dashboard_topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="<%=url_for :controller => "dashboard", :action => "index" %>"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
    <h2><%=t("layouts.menu.dailycious") %></h2>
    <br />
    <%
    requests_last_7days = Request.where({
      :controller => "app/dailycious",
      :action => "user",
      :params => {
        :q => @user.id.to_s
      }.to_json
    }).where([
      "created_at >= (?) AND created_at <= (?)", 
      Date.today-13,
      Date.today-6
    ]).count
    requests_this_7days = Request.where({
      :controller => "app/dailycious",
      :action => "user",
      :params => {
        :q => @user.id.to_s
      }.to_json
    }).where([
      "created_at >= (?)",
      Date.today-6
    ]).count
    %>
    <div class="row">
      <div class="col-sm-4">
  		  <div class="tile-stats tile-white tile-white-primary">
  		  	<div class="icon"><i class="entypo-suitcase"></i></div>
  		  	<div class="num" data-start="0" data-end="<%=requests_this_7days %>" data-duration="1500" data-delay="0"></div>
			  
  		  	<h3>visits</h3>
  		  	<p>in the last 7 days</p>
  		  </div>
  		</div>
      <div class="col-sm-4">
  		  <div class="tile-stats tile-white tile-white-primary">
  		  	<div class="icon"><i class="entypo-suitcase"></i></div>
  		  	<div class="num" data-start="0" data-end="<%=@user.restaurant.favoriteRestaurants.count %>" data-duration="1500" data-delay="0"></div>
			  
  		  	<h3>favorites</h3>
  		  	<p><%=@user.restaurant.name %></p>
  		  </div>
  		</div>
      <div class="col-sm-4">
  		  <div class="tile-stats tile-white tile-white-primary">
  		  	<div class="icon"><i class="entypo-suitcase"></i></div>
  		  	<div class="num" data-start="0" data-end="<%=@user.restaurant.daily_dishes.where([
                 "display_date > (?)",
                 Date.today-7
               ]).count %>" data-duration="1500" data-delay="0"></div>
			  
  		  	<h3>daily dishes</h3>
  		  	<p>published in the last 7 days</p>
          <a href="<%=url_for :controller => "dailycious", :action => "index" %>"><p>
            <button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
              view all daily dishes
              <i class="entypo-user"></i>
            </button>
          </p></a>
  		  </div>
  		</div>
    </div>
    <div class="row">
    	<div class="col-md-4">
    		<div class="tile-stats tile-white stat-tile">
    			<h3><%=([requests_this_7days-requests_last_7days, 0].max/[requests_last_7days, 1].max)*100.0 %>% more </h3>
    			<p>visits this week</p>
    			<span class="weekly-visitors"></span>
    		</div>		
    	</div>
      <%
      requests_this_7days_peaks = Request.select("date(created_at)").where({
        :controller => "app/dailycious",
        :action => "user",
        :params => {
          :q => 1.to_s
        }.to_json
      }).where([
        "created_at >= (?)",
        Date.today-13
      ]).group("date(created_at)").count
      %>
      <script type="text/javascript">
      jQuery(document).ready(function($) 
      {
        $(".weekly-visitors").sparkline(<%=(Date.today-13..Date.today).map{|r| requests_this_7days_peaks[r].to_i}.to_json %>,{
      	    type: "line",
      	    width: "100%",
      	    height: "55",
      	    lineColor: "#ff4e50",
      	    fillColor: "#ffd2d3",
      	    lineWidth: 2,
      	    spotColor: "#a9282a",
      	    minSpotColor: "#a9282a",
      	    maxSpotColor: "#a9282a",
      	    highlightSpotColor: "#a9282a",
      	    highlightLineColor: "#f4c3c4",
      	    spotRadius: 2,
      	    drawNormalOnTop: true
        });
      });
      </script>
      <div class="col-sm-4">
  		  <div class="tile-stats tile-white tile-white-primary">
  		  	<div class="icon"><i class="entypo-suitcase"></i></div>
  		  	<div class="num" data-start="0" data-end="<%=@user.restaurant.favoriteRestaurants.where([
                 "created_at >= (?) AND created_at <= (?)",
                 Date.today-7,
                 Date.today
  		  	     ]).count %>" data-duration="1500" data-delay="0"></div>
			  
  		  	<h3>new favorites</h3>
  		  	<p>in the last 7 days</p>
  		  </div>
  		</div>
    </div>
    <h2><%=t("layouts.menu.menumalist") %></h2>
    <br />
    <div class="row">
      <div class="col-sm-4">
      	<div class="tile-stats tile-white">
      		<div class="icon">
      			<i class="glyphicon glyphicon-download"></i>
      		</div>
      		<div class="num">
      			<h2><%=@user.restaurant.download_code %></h2>
      		</div>
      		<div class="title">
      			<p><%=t("menumalist.download_code_title") %></p>
      		</div>
      	</div>
      </div>
      <div class="col-sm-4">
    	 	<div class="tile-stats tile-white">
    	 		<div class="icon"><i class="entypo-monitor"></i></div>
    	 		<div class="num" data-start="0" data-end="<%=@user.restaurant.clients.actives.count %>" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;"><%=@user.restaurant.clients.actives.count %></div>
          <span style="color:#000;font-size:28px;display:inline-block;margin-left:10px;">/ 1</span>
    	 		<h3><%=@user.restaurant.clients.actives.count == 1 ? t("menumalist.installation") : t("menumalist.installations") %></h3>
          <p><%=@user.restaurant.clients.actives.count == 1 ? t("menumalist.installation_on_iPad") : t("menumalist.installations_on_iPads") %>
            <button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
              <%=t("menumalist.installations_want_more") %>
              <i class="entypo-plus"></i>
            </button>
          </p>
    	  </div>
    	</div>
      <div class="col-sm-4">
    	 	<div class="tile-stats tile-white tile-white-primary">
    	 		<div class="icon"><i class="entypo-user"></i></div>
    	 		<div class="num" data-start="0" data-end="<%=@user.restaurant.menus.count %>" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;">0</div>
    	 		<h3>menus</h3>
          <a href="<%=url_for :controller => "menumalist", :action => "index" %>"><p>
            <button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
              view all menus
              <i class="entypo-user"></i>
            </button>
          </p></a>
    	  </div>
    	</div>
    </div>
  </div>
</div>