<%= form_for @menu do |f| %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 class="modal-title"><%= t("forms.#{action_name}", :model => Menu.model_name.human) %></h4>
	</div>	
	
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<%= label_tag :title, :class => "control-label" do %>
						<%=t("menumalist.menu.title") %>
					<% end %>
					<div class="form-group">
						<%= f.text_field :title, :class => "form-control", :placeholder => t("menumalist.menu.title_example") %>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="btn <%= @menu.default? || @user.restaurant.menus.count == 0 ? "btn-green" : "btn-default" %>">
						<%= label_tag :default, t("menumalist.menu.default") %>
					</div>
					<%= check_box_tag :default, "true", @menu.default?, :style => "display:none" %>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:14px;">
			<div class="">
				<div class="col-md-6 input-group">
					<%= label_tag :from_time, :class => "control-label" do %>
						<%= t("menumalist.menu.display_from") %>
					<% end %>
					<div class="input-group">
						<%= f.text_field :from_time, :class => "timepicker form-control", :data => { "default-time" => false, "show-meridian" => false} %>
						<div class="input-group-addon">
							<a href="#"><i class="entypo-clock"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<%= label_tag :to_time, :class => "control-label" do %>
						<%= t("menumalist.menu.to") %>
					<% end %>
					<div class="input-group">
						<%= f.text_field :to_time, :class => "timepicker form-control", :data => { "default-time" => false, "show-meridian" => false} %>
						<div class="input-group-addon">
							<a href="#"><i class="entypo-clock"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<% # only display the destroy button on edit %>
		<%= render :file => "modals/delete", :locals => {:destroy_link => menu_path(@menu)} if ["edit", "update"].include? action_name %>
		
		<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("forms.cancel") %></button>
		<%= f.button :type => "submit", :class => "btn btn-info icon-left" do %>
			<% if ["new", "create"].include? action_name %>
				<i class="entypo-plus"></i>
			<% end %>
			<%= t("menumalist.menu.#{action_name}") %>
		<% end %>
	</div>
<% end %>