<%= neon_modal :id => "editnavigation-#{navigation.id}", :width => "678px", :title => t("menumalist.navigation_modal_edit_title"), :languages => navigation.menu.languages, :default_language => navigation.menu.default_language do |m| %>
	<%= form_tag(category_edit_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_editnavigation"}) do %>
		<input name="navigation_id" type="hidden" id="form-navigation_id" value="<%=navigation.id %>">
		<%=neon_modal_body do |b| %>
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-md-12">
							<h4 class="margin-top-none"><%=t("menumalist.navigation_upload_image") %></h4>
							<%=neon_imagecrop :image => navigation.image %>
						</div>
					</div>
				</div>
				<div class="col-sm-6 tab-content">
					<%
					current_locale = I18n.locale
					navigation.menu.languages.each do |language|
						I18n.locale = language.locale
					%>
					<span class="tab-pane <%="active" if navigation.menu.default_language == language %> form-group" id="modal-editnavigation-<%=navigation.id %>-lang-<%=language.locale %>">
						<label for="form-title[<%=language.locale %>]" class="control-label"><strong><% I18n.locale = current_locale %><%=t("menumalist.navigation_title") %><% I18n.locale = language.locale %></strong> - <%=language.title.capitalize %><%=" (Default)" if navigation.menu.default_language == language %></label>
						<input name="title[<%=language.locale %>]" type="text" class="form-control" id="form-title[<%=language.locale %>]" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.navigation_title_placeholder") %><% I18n.locale = language.locale %>" value="<%=navigation.title %>" data-validate="<%="required" if navigation.menu.default_language == language %>,minlength[4],maxlength[40]" data-message-required="<%=t("validation.required") %>" data-message-minlength="<%=t("validation.minlength",{l:"4"}) %>" data-message-maxlength="<%=t("validation.maxlength",{l:"40"}) %>">
					</span>
					<%
					end
					I18n.locale = current_locale
					%>
					<label class="control-label"><strong><%=t("menumalist.navigation_design") %></strong></label>
					<div class="row">
						<div class="col-sm-6">
							<input class="icheck-2-radio" type="radio" id="form-style-1" name="style" value="default" <%="checked" if navigation.style == "default" %>>
							<label for="form-style-1"><%=t("menumalist.navigation_design_default") %></label>
						</div>
						<div class="col-sm-6">
							<input class="icheck-2-radio" type="radio" id="form-style-2" name="style" value="grid" <%="checked" if navigation.style == "grid" %>>
							<label for="form-style-2"><%=t("menumalist.navigation_design_grid") %></label>
							</div>
					</div>
				</div>
			</div>
		<% end %>
		<%=neon_modal_footer do |b| %>
		<%=render :partial => "neon/modal_footer_delete" %>
			<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("menumalist.navigation_modal_edit_cancel") %></button>
			<button type="submit" class="btn btn-info"><%=t("menumalist.navigation_modal_edit_submit") %></button>
		<% end %>
	<% end %>
<% end %>