<% content_for :body_class, "page-body" %>
<div class="page-container">
	<div class="sidebar-menu">
		<%=render :partial => "layouts/menuheader", :locals => {:logo => asset_path("logo-menumalist.png")} %>
		<%=render :partial => "layouts/menu" %>
	</div>
	<div class="main-content">
		<%=render :partial => "layouts/topbar" %>
		<ol class="breadcrumb bc-3">
			<li>
				<a href="<%= dashboard_index_path %>">
					<i class="entypo-home"></i>
					<%=t("layouts.menu.dashboard") %>
				</a>
			</li>
			<li class="">
				<a href="<%= menus_path %>">
					<%=t("menumalist.menu.menumalist") %>
				</a>
			</li>
			<li class="">
				<a href="<%= show_menu_path(@navigation.menu.title.gsub(" ","-"), @navigation.menu.id) %>">
					<%=@navigation.menu.title %>
				</a>
			</li>
			<% if @navigation.navigation != nil%>
			<li class="">
				<a href="<%= show_navigation_path(@navigation.menu.title.gsub(" ","-"), @navigation.menu.id, @navigation.navigation.title.gsub(" ","-"), @navigation.navigation.id) %>">
					<%=@navigation.navigation.title %>
				</a>
			</li>
			<% end %>
			<li class="active">
				<strong><%=@navigation.title %></strong>
			</li>
		</ol>
		<h2><%=@navigation.menu.title %> - <%=@navigation.title %></h2>
		<br />
		<div class="row gallery-env draggable-portlets">
			<%= form_tag(category_sort_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload", :id => "form_sortnavigation"}) do %>
			<span class="sorted ui-sortable">
				<% @navigation.sub_navigations.each do |navigation| %>
				<%=render :partial => "neon/navigation_panel", :locals => {:navigation => navigation} %>
				<% end %>
			</span>
			<% end %>
			<%= form_tag(dish_sort_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload", :id => "form_sortdish"}) do %>
			<span class="sorted ui-sortable">
				<% @navigation.dishes.each do |dish| %>
				<%=render :partial => "neon/dish_panel", :locals => {:dish => dish} %>
				<% end %>
			</span>
			<% end %>
			<% if @navigation.navigation == nil && @navigation.dishes.count == 0 %>
			<%=render :partial => "neon/panel_add", :locals => {:panel_size => 3, :image_size => 1, :js_onclick => "jQuery('#modal-addnavigation').modal('show');", :title => t("menumalist.add_new_category")} %>
			<% end %>
			<% if @navigation.sub_navigations.count == 0 %>
			<%=render :partial => "neon/panel_add", :locals => {:panel_size => 3, :image_size => 1, :js_onclick => "jQuery('#modal-adddish').modal('show');", :title => t("menumalist.add_new_dish")} %>
			<% end %>
		</div>
		<%=render :partial => "layouts/footer" %>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(function(){
			var $draggable_portlets = $(".draggable-portlets");
			
			$(".draggable-portlets .sorted" ).sortable({
				connectWith: ".draggable-portlets .sorted",
				handle: '.panel-heading',
				start: function()
				{
					$draggable_portlets.addClass('dragging');
				},
				stop: function()
				{
					$draggable_portlets.removeClass('dragging');
					
					var f = $(this).closest("form");
					if (f.attr("id") == "form_sortnavigation")
					{
						$("#form_sortnavigation .panel input[name^='navigation_ids[']").each(function(i){
							$(this).val(i);
						});
						$("#form_sortnavigation").submit();
					}
					else if (f.attr("id") == "form_sortdish")
					{
						$("#form_sortdish .panel input[name^='dish_ids[']").each(function(i){
							$(this).val(i);
						});
						$("#form_sortdish").submit();
					}
				}
			});
			$(".draggable-portlets .sorted .panel-heading").disableSelection();
		});
	});
</script>
<%=render :partial => "modal_addnavigation", :locals => {:menu => @navigation.menu, :navigation => @navigation} %>
<% @navigation.sub_navigations.each do |navigation| %>
	<%=render :partial => "modal_editnavigation", :locals => {:navigation => navigation} %>
<% end %>
<p><%=@navigation.dishes.count%></p>
<% @navigation.dishes.each do |dish| %>
	<%=render :partial => "modal_editdish", :locals => {:dish => dish} %>
<% end %>
<%=render :partial => "modal_adddish", :locals => {:navigation => @navigation} %>