<% content_for :body_class, "page-body" %>
<div class="page-container">
	<div class="sidebar-menu">
		<%=render :partial => "layouts/menuheader", :locals => {:logo => asset_path("logo-menumalist.png")} %>
		<%=render :partial => "layouts/menu" %>
	</div>
	<div class="main-content">
		<%=render :partial => "layouts/topbar" %>
		<ol class="breadcrumb bc-3">
			<li>
				<a href="<%=dashboard_index_path %>">
					<i class="entypo-home"></i>
					<%=t("layouts.menu.dashboard") %>
				</a>
			</li>
			<li class="active">
				<strong>
					<%=t("menumalist.menu.menumalist") %>
				</strong>
			</li>
		</ol>
		<div class="row">
			<div class="col-sm-4">
				<div class="tile-stats tile-white">
					<div class="icon">
						<i class="glyphicon glyphicon-download"></i>
					</div>
					<div class="num">
						<h2><%=@restaurant.download_code %></h2>
					</div>
					<div class="title">
						<p><%=t("menumalist.download_code_title") %></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile-stats tile-white">
					<div class="icon"><i class="entypo-monitor"></i></div>
					<div class="num" data-start="0" data-end="<%=@restaurant.clients.actives.count %>" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;"><%=@restaurant.clients.actives.count %></div>
					<span style="color:#000;font-size:28px;display:inline-block;margin-left:10px;">/ 1</span>
					<h3><%=@restaurant.clients.actives.count == 1 ? t("menumalist.installation") : t("menumalist.installations") %></h3>
					<p><%=@restaurant.clients.actives.count == 1 ? t("menumalist.installation_on_iPad") : t("menumalist.installations_on_iPads") %>
						<button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
							<%=t("menumalist.installations_want_more") %>
							<i class="entypo-plus"></i>
						</button>
						<br />
						<%= form_tag(reset_clients_path, {:role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_resetclients"}) do %>
						<input type="hidden" name="reset" value="true">
						<button type="submit" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: 12px" <% if @restaurant.client_reset_date && (@restaurant.client_reset_date+31.days) > DateTime.now %>disabled="disabled"<% end %>>
							<%=t("menumalist.reset_clients") %>
							<i class="entypo-trash"></i>
						</button>
						<% end %>
						<p><%=t("menumalist.last_reset") %></p>
						<p><b><%=@restaurant.client_reset_date.strftime("%d. %B %Y") if @restaurant.client_reset_date %></b></p>
						<p><%=t("menumalist.next_reset") %></p>
						<p><b><%=(@restaurant.client_reset_date+31.days).strftime("%d. %B %Y") if @restaurant.client_reset_date %></b></p>
					</p>
				 </div>
			</div>
			<div class="col-sm-4">
			 	<div class="tile-stats tile-white">
			 		<div class="icon"><i class="entypo-brush"></i></div>
			 		<h2><%=t("menumalist.design") %></h3>
					<a href="javascript:;" onclick="jQuery('#modal-design').modal('show');">
						<button type="button" class="btn btn-default btn-icon icon-left" style="margin-top: -2px">
							<%=t("menumalist.design_change") %>
							<i class="entypo-brush"></i>
						</button>
					</a>
				 </div>
			</div>
		</div>
		<h2><%=t("menumalist.menumalist_title") %></h2>
		<br />
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped responsive">
					<thead>
						<tr style="font-size: 16px;">
							<th width="40%"><%=t("menumalist.menu") %></th>
							<th width="120px;" style="width:120px;"></th>
							<th width=""><%=t("menumalist.categories") %></th>
							<th width=""><%=t("menumalist.dishes") %></th>
						</tr>
					</thead>
					<tbody>
						<% @menus.each do |menu| %>
							<tr style="font-size: 14px;">
								<td>
									<a href="<%= show_menu_path(menu.title.parameterize, menu.id) %>">
										<%=menu.title %>
										<span class="badge badge-primary"><%=@restaurant.defaultMenu == menu ? t("menumalist.default_menu") : "#{menu.from_time} - #{menu.to_time}" %></span>
									</a>
								</td>
								<td>
									<span class="pl8es_c_table-toolbar">
										<a href="javascript:;" onclick="pl8es_f_duplicate(<%=menu.id %>);">
											<button type="button" class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Duplicate">
												<i class="entypo-docs"></i>
											</button>
										</a>
										<a href="javascript:;" onclick="jQuery('#modal-editmenu-<%=menu.id %>').modal('show');">
											<button type="button" class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
												<i class="entypo-cog"></i>
											</button>
										</a>
									<span>
								</td>
								<td><a href="<%= show_menu_path(menu.title.parameterize, menu.id) %>"><%=menu.navigations.count %> <i class="entypo-folder" style="color:#ccc;"></i></a></td>
								<td><%=menu.dishes.count %> <i class="glyphicon glyphicon-cutlery" style="color:#ccc;"></i></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<a href="javascript:;" onclick="jQuery('#modal-addmenu').modal('show');">
					<button type="button" class="btn btn-info btn-icon icon-left">
						<%=t("menumalist.add_new_menu") %>
						<i class="entypo-plus"></i>
					</button>
				</a>
			</div>
		</div>
		<br />
		<h3><%=t("menumalist.beverage_pages_title") %></h3>
		<br />
		<div class="row gallery-env draggable-portlets">
			<%= form_tag(beveragepage_sort_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload", :id => "form_sortbeveragepage"}) do %>
				<span class="sorted ui-sortable">
					<% @restaurant.beveragePages.each do |beverage_page| %>
					<%=render :partial => "neon/beverage_page_panel", :locals => {:beverage_page => beverage_page} %>
					<% end %>
				</span>
			<% end %>
			<%=render :partial => "neon/panel_add", :locals => {:panel_size => 3, :image_size => 1, :js_onclick => "jQuery('#modal-addbeveragepage').modal('show');", :title => t("menumalist.add_new_beverage_page")} %>
		</div>
		<%=render :partial => "layouts/footer" %>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(function(){
			var $draggable_portlets = $(".draggable-portlets");
			
			$(".draggable-portlets .sorted").sortable({
				connectWith: ".draggable-portlets .sorted",
				handle: '.panel-heading',
				start: function()
				{
					$draggable_portlets.addClass('dragging');
				},
				stop: function()
				{
					$("#form_sortbeveragepage .panel input[name^='beverage_page_ids[']").each(function(i){
						$(this).val(i);
					});
					$draggable_portlets.removeClass('dragging');
					$("#form_sortbeveragepage").submit();
				}
			});
			$(".draggable-portlets .sorted .panel-heading").disableSelection();
		});
	});
</script>
<%=render :partial => "modal_design", :locals => {:navigation => Navigation.first} %>
<%=render :partial => "modal_addmenu" %>
<% @menus.each do |menu| %>
	<%=render :partial => "modal_editmenu", :locals => {:menu => menu} %>
<% end %>
<%=render :partial => "beverage/modal_addbeveragepage" %>
<% @restaurant.beveragePages.each do |beverage_page| %>
	<%=render :partial => "beverage/modal_editbeveragepage", :locals => {:beverage_page => beverage_page} %>
<% end %>