<% content_for :body_class, "page-body" %>
<div class="page-container">
	<div class="sidebar-menu">
		<%=render :partial => "layouts/menuheader", :locals => {:logo => asset_path("logo-menumalist.png")} %>
		<%=render :partial => "layouts/menu" %>
	</div>
	<div class="main-content">
		<%=render :partial => "layouts/topbar" %>
		<ol class="breadcrumb bc-3">
			<li>
				<a href="<%= dashboard_index_path %>">
					<i class="entypo-home"></i>
					<%=t("layouts.menu.dashboard") %>
				</a>
			</li>
			<li class="">
				<a href="<%= menus_path %>">
					<%=t("menumalist.menu.menumalist") %>
				</a>
			</li>
			<li class="active">
				<strong><%=@menu.title %></strong>
			</li>
		</ol>
		<h2><%=@menu.title %></h2>
		<br />
		<div class="row gallery-env draggable-portlets">
			<%= form_tag(category_sort_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload", :id => "form_sort_category"}) do %>
			<input type="hidden" name="menu_id" value="<%=@menu.id %>">
			<span class="sorted ui-sortable">
				<% @menu.categories.each do |category| %>
				<%=render :partial => "neon/category_panel", :locals => {:category => category} %>
				<% end %>
			</span>
			<% end %>
			<%=render :partial => "neon/panel_add", :locals => {:panel_size => 3, :image_size => 1, :js_onclick => "jQuery('#modal-add_category').modal('show');", :title => t("menumalist.add_new_category")} %>
		</div>
		<%=render :partial => "layouts/footer" %>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(function(){
			var $draggable_portlets = $(".draggable-portlets");
			
			$(".draggable-portlets .sorted").sortable({
				connectWith: ".draggable-portlets .sorted",
				handle: '.panel-heading',
				start: function()
				{
					$draggable_portlets.addClass('dragging');
				},
				stop: function()
				{
					$("#form_sort_category .panel input[name^='category_ids[']").each(function(i){
						$(this).val(i);
					});
					$draggable_portlets.removeClass('dragging');
					$("#form_sort_category").submit();
				}
			});
			$(".draggable-portlets .sorted .panel-heading").disableSelection();
		});
	});
</script>
<%=render :partial => "categories/modal_add", :locals => {:menu => @menu} %>
<% @menu.categories.each do |category| %>
	<%=render :partial => "categories/modal_edit", :locals => {:category => category} %>
<% end %>