<%= neon_modal :id => "edituser-#{user.id}", :width => "678px", :title => "Edit user" do |m| %>
<%= form_tag(user_edit_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_addfont"}) do %>
<%=neon_modal_body do |b| %>
<input name="user_id" type="hidden" id="form-language_id" value="<%=user.id %>">
<% end %>
<%=neon_modal_footer do |b| %>
<%=render :partial => "neon/modal_footer_delete" %>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<a href="<%= user_switch_path(user.id) %>">
  <button type="button" class="btn btn-success btn-icon icon-left">
  	<i class="entypo-plus"></i>
  	Login as <%=user.restaurant.name %>
  </button>
</a>
<button type="submit" class="btn btn-info btn-icon icon-left">
	<i class="entypo-plus"></i>
	Save user
</button>
<% end %>
<% end %>
<% end %>