<%= neon_modal :id => "edit-tag-#{tag.id}", :width => "678px", :title => "Edit tag", :languages => Language.all, :default_language => Language.first do |m| %>
<%= form_tag(tag_edit_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "edit-tag"}) do %>
<%=neon_modal_body do |b| %>
<input name="tag_id" type="hidden" id="form-tag_id" value="<%=tag.id %>">
<div class="row">
	<div class="col-sm-12">
		<div class="tab-content">
      <%
      current_locale = I18n.locale
      Language.all.each do |language|
        I18n.locale = language.locale
      %>
      <div class="tab-pane <%="active" if Language.first == language %> form-group" id="modal-edit-tag-<%=tag.id %>-lang-<%=language.locale %>">
        <label for="form-title[<%=language.locale %>]" class="control-label"><strong>Title</strong> - <%=language.title.capitalize %><%=" (Default)" if Language.first == language %></label>
			  <input name="title[<%=language.locale %>]" type="text" class="form-control" id="form-title[<%=language.locale %>]" placeholder="Title" data-validate="maxlength[28]" value="<%=tag.title %>" <%="required" if Language.first == language %>>
      </div>
      <%
      end
      I18n.locale = current_locale
      %>
		</div>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<%=render :partial => "neon/modal_footer_delete" %>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-info">Edit tag</button>
<% end %>
<% end %>
<% end %>