<%= neon_modal :id => "editlanguage-#{language.id}", :width => "678px", :title => "Edit language" do |m| %>
<%= form_tag(language_edit_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_addfont"}) do %>
<%=neon_modal_body do |b| %>
<input name="language_id" type="hidden" id="form-language_id" value="<%=language.id %>">
<div class="row">
	<div class="col-sm-6 form-group">
    <label for="form-title" class="control-label"><strong>Language title</strong></label>
		<input name="title" type="text" class="form-control" id="form-title" placeholder="Language title" data-validate="maxlength[250]" value="<%=language.title %>">
	</div>
	<div class="col-sm-6 form-group">
    <label for="form-locale" class="control-label"><strong>Language locale</strong></label>
		<input name="locale" type="text" class="form-control" id="form-locale" placeholder="Language locale" data-validate="maxlength[250]" value="<%=language.locale %>">
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<%=render :partial => "neon/modal_footer_delete" %>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-info btn-icon icon-left">
	<i class="entypo-plus"></i>
	Save Language
</button>
<% end %>
<% end %>
<% end %>