<%= neon_modal :id => "editmenucolortemplate-#{menuColorTemplate.id}", :width => "678px", :title => "Edit menu color template" do |m| %>
<%= form_tag({:controller => "ajax/admin", :action => "editmenucolortemplate"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "editmenucolortemplate"}) do %>
<%=neon_modal_body do |b| %>
<input name="menuColorTemplate_id" type="hidden" id="form-menuColorTemplate_id" value="<%=menuColorTemplate.id %>">
<div class="row">
	<div class="col-sm-6">
		<h4 class="margin-top-none">Upload menu color screenshot</h4>
    <%=neon_imagecrop :image => menuColorTemplate.preview_image %>
	</div>
</div>
<div class="row">
  <div class="col-md-4">
  	<div class="form-group">
      <label for="form-background" class="control-label"><%=t("menumalist.design_background_color") %></label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input id="form-background" name="background" type="text" class="form-control colorpicker" data-format="hex" value="<%=menuColorTemplate.background %>" placeholder="<%=t("neon.input_color_placeholder") %>" />
			</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="form-bar_background" class="control-label"><%=t("menumalist.design_navigation_bar_color") %></label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input id="form-bar_background" name="bar_background" type="text" class="form-control colorpicker" data-format="hex" value="<%=menuColorTemplate.bar_background %>" placeholder="<%=t("neon.input_color_placeholder") %>" />
			</div>
  	</div>
  </div> 
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="form-nav_text" class="control-label"><%=t("menumalist.design_navigation_text_color") %></label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input id="form-nav_text" name="nav_text" type="text" class="form-control colorpicker" data-format="hex" value="<%=menuColorTemplate.nav_text %>" placeholder="<%=t("neon.input_color_placeholder") %>" />
			</div>
  	</div>
  </div>
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="form-nav_text_active" class="control-label"><%=t("menumalist.design_navigation_text_active_color") %></label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input id="form-nav_text_active" name="nav_text_active" type="text" class="form-control colorpicker" data-format="hex" value="<%=menuColorTemplate.nav_text_active %>" placeholder="<%=t("neon.input_color_placeholder") %>" />
			</div>
  	</div>
  </div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<%=render :partial => "neon/modal_footer_delete" %>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-info">Edit menu color template</button>
<% end %>
<% end %>
<% end %>