<ol class="breadcrumb bc-3">
	<li>
		<a href="<%= dashboard_index_path %>"><i class="entypo-home"></i>Dashboard</a>
	</li>
	<li>
		<a href="<%= admin_index_path %>">Admin</a>
	</li>
	<li class="active">
		<strong>All ingredients</strong>
	</li>
</ol>
<h2>All ingredients</h2>
<br />
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped responsive">
			<thead>
				<tr>
					<th>Ingredient</th>
				</tr>
			</thead>
			<tbody>
				<% Ingredient.all.sort_by{|ingredient|
					ingredient.title
				}.each do |ingredient| %>
				<tr style="font-size: 18px;">
					<td>
						<a href="javascript:;" onclick="jQuery('#modal-editingredient-<%=ingredient.id %>').modal('show');">
							<%=ingredient.title %>
						</a>
					</td>
					<td>
						<a href="javascript:;" onclick="jQuery('#modal-editingredient-<%=ingredient.id %>').modal('show');">
							<button type="button" class="btn btn-info btn-icon icon-left">
								Edit Ingredient
								<i class="entypo-pencil"></i>
							</button>
						</a>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<a href="javascript:;" onclick="jQuery('#modal-addingredient').modal('show');">
			<button type="button" class="btn btn-info btn-icon icon-left">
				Add Ingredient
				<i class="entypo-plus"></i>
			</button>
		</a>
	</div>
</div>

<% content_for :modals do %>
	<%=render :partial => "modal_addingredient" %>
	<% Ingredient.all.sort_by{|ingredient|
								ingredient.title
							}.each do |ingredient| %>
	<%=render :partial => "modal_editingredient", :locals => {:ingredient => ingredient} %>
	<% end %>
<% end %>