<ol class="breadcrumb bc-3">
	<li>
		<a href="<%= dashboard_index_path %>"><i class="entypo-home"></i>Dashboard</a>
	</li>
	<li>
		<a href="<%= admin_index_path %>">Admin</a>
	</li>
	<li class="active">
		<strong>All languages</strong>
	</li>
</ol>
<h2>All languages</h2>
<br />
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped responsive">
			<thead>
				<tr>
					<th>Language</th>
					<th>Locale</th>
				</tr>
			</thead>
			<tbody>
				<% Language.all.sort_by{|language|
					language.title
				}.each do |language| %>
				<tr style="font-size: 18px;">
					<td>
						<a href="javascript:;" onclick="jQuery('#modal-editlanguage-<%=language.id %>').modal('show');">
							<%=language.title %>
						</a>
					</td>
					<td>
						<%=language.locale %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<a href="javascript:;" onclick="jQuery('#modal-addlanguage').modal('show');">
			<button type="button" class="btn btn-info btn-icon icon-left">
				Add language
				<i class="entypo-plus"></i>
			</button>
		</a>
	</div>
</div>

<%=render :partial => "modal_addlanguage" %>
<% Language.all.sort_by{|language|
							language.title
						}.each do |language| %>
<%=render :partial => "modal_editlanguage", :locals => {:language => language} %>
<% end %>