<% content_for :body_class, "page-body" %>
<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/menuheader" %>
    <%=render :partial => "layouts/menu" %>
  </div>
  <div class="main-content">
    <%=render :partial => "layouts/topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="<%=url_for :controller => "dashboard", :action => "index" %>"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li>
        <a href="<%=url_for :controller => "admin", :action => "index" %>">Admin</a>
      </li>
      <li class="active">
        <strong>All menu color templates</strong>
      </li>
    </ol>
    <h2>All menu color templates</h2>
    <br />
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped responsive">
          <thead>
            <tr>
              <th width="40%">Menu color screenshot</th>
            </tr>
          </thead>
          <tbody>
            <% MenuColorTemplate.all.each do |menuColorTemplate| %>
            <tr style="font-size: 18px;">
              <td>
                <a href="javascript:;" onclick="jQuery('#modal-editmenucolortemplate-<%=menuColorTemplate.id %>').modal('show');">
                  <img src="<%=menuColorTemplate.preview_image.url(:cropped_default_retina) %>" width="144" height="108">
                </a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <a href="javascript:;" onclick="jQuery('#modal-addmenucolortemplate').modal('show');">
          <button type="button" class="btn btn-info btn-icon icon-left">
          	Add menu color template
          	<i class="entypo-plus"></i>
          </button>
        </a>
      </div>
    </div>
    <%=render :partial => "layouts/footer" %>
  </div>
</div>
<%=render :partial => "modal_addmenucolortemplate" %>
<% MenuColorTemplate.all.each do |menuColorTemplate| %>
<%=render :partial => "modal_editmenucolortemplate", :locals => {:menuColorTemplate => menuColorTemplate} %>
<% end %>