<%= neon_modal :id => "editbeveragepage-#{beverage_page.id}", :width => "678px", :title => t("menumalist.beverage_page_modal_edit_title") do |m| %>
<%= form_tag(beveragepage_edit_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_editbeveragepage"}) do %>
<input name="beverage_page_id" type="hidden" id="form-navigation_id" value="<%=beverage_page.id %>">
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-6 hidden-xs">
		<h4 class="margin-top-none"><%= t("forms.upload_image") %></h4>
    <%=neon_imagecrop :image => beverage_page.image %>
	</div>
	<div class="col-sm-6 tab-content">
    <label for="form-title" class="control-label"><strong><%=t("menumalist.beverage_page_title") %></strong></label>
	  <input name="title" type="text" class="form-control" id="form-title" placeholder="<%=t("menumalist.beverage_page_title_placeholder") %>" value="<%=beverage_page.title %>" required data-validate="maxlength[40]" data-message-required="<%=t("validation.required") %>" data-message-maxlength="<%=t("validation.maxlength",{l:"40"}) %>">
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<%=render :partial => "neon/modal_footer_delete" %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%= t("forms.cancel") %></button>
<button type="submit" class="btn btn-info"><%=t("menumalist.beverage_page_modal_edit_submit") %></button>
<% end %>
<% end %>
<% end %>