<%= neon_modal :id => "editbeverage-#{beverage.id}", :width => "678px", :title => t("menumalist.beverage_modal_edit_title"), :languages => @user.restaurant.languages, :default_language => nil do |m| %>
<%= form_tag(beverage_edit_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_editbeverage"}) do %>
<input name="beverage_id" type="hidden" id="form-beverage_id" value="<%=beverage.id %>">
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-12 tab-content">
    <%
    current_locale = I18n.locale
    @user.restaurant.languages.each do |language|
      I18n.locale = language.locale
    %>
    <span class="tab-pane <%="active" if @user.restaurant.languages.first == language %> form-group" id="modal-editbeverage-<%=beverage.id %>-lang-<%=language.locale %>">
      <div class="col-md-12 form-group" style="padding:0px;">
        <label for="form-title[<%=language.locale %>]" class="control-label"><strong><% I18n.locale = current_locale %><%=t("menumalist.beverage_title") %><% I18n.locale = language.locale %></strong> - <%=language.title.capitalize %><%=" (Default)" if @user.restaurant.languages.include?(language) %></label>
		    <input name="title[<%=language.locale %>]" type="text" class="form-control" id="form-title[<%=language.locale %>]" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.beverage_title_placeholder") %><% I18n.locale = language.locale %>" value="<%=beverage.title %>" <%="required" if @user.restaurant.languages.include?(language) %> data-validate="maxlength[40]" data-message-required="<%=t("validation.required") %>" data-message-maxlength="<%=t("validation.maxlength",{l:"40"}) %>">
      </div>
      <div class="col-md-6 form-group" style="padding-left:0px;">
        <label for="form-price" class="control-label"><strong><% I18n.locale = current_locale %><%=t("menumalist.beverage_price") %><% I18n.locale = language.locale %></strong></label>
        <input name="price" type="text" class="form-control" id="form-price" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.beverage_price_placeholder") %><% I18n.locale = language.locale %>" value="<%=beverage.price %>" <%="required" if @user.restaurant.languages.include?(language) %> data-validate="maxlength[7],price" data-message-maxlength="<%=t("validation.maxlength",{l:"7"}) %>" data-message-price="<%=t("validation.price") %>">
      </div>
      <div class="col-md-6 form-group" style="padding-right:0px;">
        <label for="form-amount" class="control-label"><strong><% I18n.locale = current_locale %><%=t("menumalist.beverage_amount_in_l") %><% I18n.locale = language.locale %></strong></label>
        <input name="amount" type="text" class="form-control" id="form-amount" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.beverage_amount_in_l_placeholder") %><% I18n.locale = language.locale %>" value="<%=beverage.amount %>" <%="required" if @user.restaurant.languages.include?(language) %> data-validate="maxlength[7],beverageamount" data-message-maxlength="<%=t("validation.maxlength",{l:"7"}) %>" data-message-beverageamount="<%=t("validation.beverageamount") %>">
      </div>
    </span>
    <%
    end
    I18n.locale = current_locale
    %>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<%=render :partial => "neon/modal_footer_delete" %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%= t("forms.cancel") %></button>
<button type="submit" class="btn btn-info"><%=t("menumalist.beverage_modal_edit_submit") %></button>
<% end %>
<% end %>
<% end %>