<%= neon_modal :id => "editbeveragenavigation-#{beverage_navigation.id}", :width => "678px", :title => t("menumalist.beverage_navigation_modal_edit_title"), :languages => @user.restaurant.languages, :default_language => nil do |m| %>
<%= form_tag(beveragecategory_edit_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_editbeveragenavigation"}) do %>
<input name="beverage_navigation_id" type="hidden" id="form-beverage_navigation_id" value="<%=beverage_navigation.id %>">
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-12 tab-content">
    <%
    current_locale = I18n.locale
    @user.restaurant.languages.each do |language|
      I18n.locale = language.locale
    %>
    <span class="tab-pane <%="active" if @user.restaurant.languages.first == language %> form-group" id="modal-editbeveragenavigation-<%=beverage_navigation.id %>-lang-<%=language.locale %>">
      <label for="form-title[<%=language.locale %>]" class="control-label"><strong><% I18n.locale = current_locale %><%=t("menumalist.beverage_navigation_title") %><% I18n.locale = language.locale %></strong> - <%=language.title.capitalize %><%=" (Default)" if @user.restaurant.languages.include?(language) %></label>
		  <input name="title[<%=language.locale %>]" type="text" class="form-control" id="form-title[<%=language.locale %>]" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.beverage_navigation_title_placeholder") %><% I18n.locale = language.locale %>" value="<%=beverage_navigation.title %>" <%="required" if @user.restaurant.languages.include?(language) %> data-validate="maxlength[40]" data-message-required="<%=t("validation.required") %>" data-message-maxlength="<%=t("validation.maxlength",{l:"40"}) %>">
    </span>
    <%
    end
    I18n.locale = current_locale
    %>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<%=render :partial => "neon/modal_footer_delete" %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("menumalist.beverage_navigation_modal_edit_cancel") %></button>
<button type="submit" class="btn btn-info"><%=t("menumalist.beverage_navigation_modal_edit_submit") %></button>
<% end %>
<% end %>
<% end %>