<%= neon_modal :id => "addbeveragepage", :width => "678px", :title => t("menumalist.beverage_page_modal_add_title") do |m| %>
<%= form_tag({:controller => "ajax/beverage", :action => "addbeveragepage"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_addbeveragepage"}) do %>
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-6 hidden-xs">
		<h4 class="margin-top-none"><%=t("menumalist.beverage_page_upload_image") %></h4>
    <%=render :partial => "neon/image_upload", :locals => {:instance_class => BeveragePage, :name => :image} %>
	</div>
	<div class="col-sm-6 tab-content">
    <label for="form-title" class="control-label"><strong><%=t("menumalist.beverage_page_title") %></strong></label>
	  <input name="title" type="text" class="form-control" id="form-title" placeholder="<%=t("menumalist.beverage_page_title_placeholder") %>" required data-validate="maxlength[40]" data-message-required="<%=t("validation.required") %>" data-message-maxlength="<%=t("validation.maxlength",{l:"40"}) %>">
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("menumalist.beverage_page_modal_add_cancel") %></button>
<button type="submit" class="btn btn-info btn-icon icon-left">
	<i class="entypo-plus"></i>
	<%=t("menumalist.beverage_page_modal_add_submit") %>
</button>
<% end %>
<% end %>
<% end %>