<ol class="breadcrumb bc-3">
	<li>
		<a href="<%= dashboard_index_path %>">
			<i class="entypo-home"></i>
			<%=t("layouts.menu.dashboard") %>
		</a>
	</li>
	<li class="active">
		<strong>
			<%=t("layouts.menu.dailycious") %>
		</strong>
	</li>
</ol>
<h2><%=t("dailycious.dailycious_title") %></h2>
<br />
<%
date = Date.today
if params[:add_weeks]
	date += params[:add_weeks].to_i*7
end
%>
<div class="row">
	<div class="col-md-12">
		<a href="<%=dailycious_add_weeks_path(params[:add_weeks].to_i-1) %>">
			<button type="button" class="col-md-3 btn btn-white">
				<i class="entypo-left-dir"></i>
				<%=t("dailycious.last_week") %>
			</button>
		</a>
		<button type="button" class="col-md-6 btn btn-default" disabled>
			<%= get_week_range(date) %>
		</button>
		<a href="<%=dailycious_add_weeks_path(params[:add_weeks].to_i+1) %>">
			<button type="button" class="col-md-3 btn btn-white">
				<%=t("dailycious.next_week") %>
				<i class="entypo-right-dir"></i>
			</button>
		</a>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped responsive">
			<tbody>
				<%
				for i in 0..6
					current_date = (date.beginning_of_week+i)
				%>
				<tr style="font-size: 18px;">
					<td width="100px;">
						<%=t("date.#{current_date.strftime("%A")}") %>
					</td>
					<td class="row gallery-env draggable-portlets">
						<%= form_tag(dailydish_sort_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload", :id => "form_sortdailydishes_#{current_date.strftime("%d-%m-%Y")}"}) do %>
							<span class="sorted ui-sortable">
								<% current_user.restaurant.daily_dishes.where(:display_date => current_date.to_datetime).each do |dish| %>
									<%= render(:partial => "neon/daily_dish_panel", :locals => {:daily_dish => dish }) %>
								<% end %>
							</span>
						<% end %>
						
						<% if !current_date.past? %>
							<%= render :partial => "modals/new_tile",:locals => { :image_size => 0, :js_onclick => "jQuery('#modal-adddailydish').modal('show').find('#form-display_date').val('#{current_date.strftime("%d-%m-%Y")}');", :title => t("dailycious.daily_dish_add")} %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(function(){
			var $draggable_portlets = $(".draggable-portlets");
			
			$(".draggable-portlets .sorted").sortable({
				connectWith: ".draggable-portlets .sorted",
				handle: '.panel-heading',
				start: function()
				{
					$draggable_portlets.addClass('dragging');
				},
				stop: function()
				{
					var f = $(this).closest("form");
					f.find(".panel input[name^='daily_dish_ids[']").each(function(i){
						$(this).val(i);
					});
					f.submit();
				}
			});
			$(".draggable-portlets .sorted .panel-heading").disableSelection();
		});
	});
</script>