<% content_for :head_title, "dailycious | #{@restaurant.name} - #{@restaurant.location.zip} #{@restaurant.location.city}, #{@restaurant.location.country}" %>
<% if current_user %>
	<ol class="breadcrumb bc-3">
		<li>
			<%= link_to dashboard_index_path do %>
				<i class="entypo-home"></i>
				<%=t("layouts.menu.dashboard") %>
			<% end %>
		</li>
		<li class="active">
			<strong><%=t("layouts.menu.restaurant") %></strong>
		</li>
	</ol>
<% end %>

<div class="pl8es profile-env">
	
	<header class="row profile-head" style="background-image:url('<%=@restaurant.restaurant_image.url(:cropped_default_retina) %>')">
		<div class="restaurant-logo">
			<img width="156" src="<%=@restaurant.logo_image.url(:cropped_default_retina) %>" />
		</div>
		<div class="profile-caption">
			<div class="restaurant-name"><%=@restaurant.name %></div>
			<span class="label restaurant-category">Tag 1</span>
			<span class="label restaurant-category">Tag 2</span>
			<div class="restaurant-description">
				<%=@restaurant.description %>
			</div>
		</div>
		<% if current_user && current_user.restaurant == @restaurant %>
			<div class="restaurant-options">
				<button class="btn btn-white" type="button" onclick="jQuery('#modal-editsettings').modal('show');">
					<i class="entypo-cog"></i>
				</button>
				<button class="btn btn-white" type="button" onclick="jQuery('#modal-editdescription').modal('show');">
					<i class="entypo-brush"></i>
				</button>
			</div>
		<% end %>
	</header>

	<section class="row">
		<div class="col-sm-8 restaurant-location">
			<div class="tile-stats profile-tile"
					 style="background-image: url('//maps.googleapis.com/maps/api/staticmap?zoom=16&maptype=roadmap&size=640x640&center=<%=@restaurant.location.latitude%>,<%=@restaurant.location.longitude%>&markers=<%=@restaurant.location.latitude%>,<%=@restaurant.location.longitude%>');">
				<div class="location-options">
					<a href="http://dailycious.co#<%=@restaurant.id %>" target="_blank" class="btn btn-white btn-icon icon-left">
						<i class="entypo-map"></i>
						<%=t("profile.goto_map") %>
					</a>
				</div>
			</div>
		</div>

		<div class="col-sm-4" >
			<div class="tile-stats tile-white tile-white-primary profile-tile">
				<div class="icon"><i class="entypo-mail"></i></div>
				<ul>
					<li>
						<i class="entypo-location"></i><%=@restaurant.location.address %><br/>
						<i class="entypo-location invisible"></i><%=@restaurant.location.zip %>, <%=@restaurant.location.city %><br/>
						<i class="entypo-location invisible"></i><%=@restaurant.location.country %>
					</li>
					<% if @restaurant.website %>
						<li>
							<a href="<%=@restaurant.website %>" target="_blank">
								<i class="entypo-globe"></i><%=@restaurant.website %>
							</a>
						</li>
					<% end %>
					<% if @restaurant.telephone %>
							<li>
								<i class="entypo-phone"></i>
								<%=@restaurant.telephone %>
							</li>
					<% end %>
				</ul>
			</div>
		</div>
	</section>
</div>

<% content_for :modals do %>	
	<% if current_user && current_user.restaurant == @restaurant %>
		<%=render :partial => "profile/modal_editsettings" %>
		<%=render :partial => "profile/modal_editdescription" %>
	<% end %>
<% end %>