<%= neon_modal :id => "editdailydish-#{daily_dish.id}", :width => "678px", :title => t("dailycious.daily_dish_modal_edit_title") do |m| %>
<%= form_tag(dailydish_edit_path, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_editdaildish"}) do %>
<input name="daily_dish_id" type="hidden" id="form-daily_dish_id" value="<%=daily_dish.id %>">
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-6 hidden-xs">
		<h4 class="margin-top-none"><%=t("dailycious.daily_dish_upload_image") %></h4>
    <%=neon_imagecrop :image => daily_dish.image %>
	</div>
	<div class="col-sm-6">
	  <div class="col-md-12 form-group" style="padding:0px">
      <label for="form-title" class="control-label"><strong><%=t("dailycious.daily_dish_title") %></strong></label>
	    <input name="title" type="text" class="form-control" id="form-title" placeholder="<%=t("dailycious.daily_dish_title_placeholder") %>" value="<%=daily_dish.title %>" data-validate="required,minlength[4],maxlength[80]" data-message-required="<%=t("validation.required") %>" data-message-minlength="<%=t("validation.minlength",{l:"4"}) %>" data-message-maxlength="<%=t("validation.maxlength",{l:"80"}) %>">
	  </div>
	  <div class="col-md-12 form-group" style="padding:0px">
      <label for="form-price" class="control-label"><strong><%=t("dailycious.daily_dish_price") %></strong></label>
	    <input name="price" type="text" class="form-control" id="form-price" placeholder="<%=t("dailycious.daily_dish_price_placeholder") %>" value="<%=daily_dish.price %>" data-validate="required,maxlength[7],price" data-validate="maxlength[400]" data-message-maxlength="<%=t("validation.maxlength",{l:"400"}) %>" data-message-price="<%=t("validation.price") %>">
	  </div>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<%=render :partial => "neon/modal_footer_delete" %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("dailycious.daily_dish_modal_edit_cancel") %></button>
<button type="submit" class="btn btn-info"><%=t("dailycious.daily_dish_modal_edit_submit") %></button>
<% end %>
<% end %>
<% end %>