<%= neon_modal :id => "dacreditplan", :width => "678px", :title => t("dailycious.dailycious_plan_modal_title") do |m| %>
<%= form_tag({:controller => "ajax/payment", :action => "dasetupcreditplan"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform", :id => "form_design"}) do %>
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-12">
    <p><%=t("dailycious.payment_introduction") %></p>
  </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
  		<ul id="form-dacreditplan" class="ui-selectable">
        <%
        payment_table = {
          4.to_s => 4.00,
          20.to_s => 15.00,
          30.to_s => 19.00#,
          #"unlimited" => 19.00
        }.each do |k, v|
        %>
        <li class="col-sm-4" style="text-align:center;padding:4px;" data-credit="<%=k %>">
          <h1 style="display:inline;"><%=k %></h1> <h3 style="display:inline;"><%=t("dailycious.dailis") %></h3>
          <p><%=t("dailycious.equal_of_n_dailis", {:n => k}) %></p>
          <h4><%=number_to_currency(v, :unit => "€", :separator => ",", :delimiter => ".", :format => "%n %u") %> <%="/mo" if k == "unlimited" %></h4>
        </li>
        <% end %>
      </ul>
      <input name="dacreditplan" type="hidden" id="form-dacreditplan" value="<%=@user.restaurant.menuColorTemplate.id if @user.restaurant.menuColorTemplate %>">
      <input name="buydailydish" type="hidden" id="form-buydailydish" value="0">
    </div>
	</div>
</div>
<script type="text/javascript">
$("#form-dacreditplan.ui-selectable").each(function(){
  $(this).selectable({
    stop: function(event, id){
      $(this).closest("form").find("input[name='dacreditplan']").val($(event.toElement).closest("li").data("credit"));
      if ($("input[name='dacreditplan']").val().length > 0 &&
          $("input[name='dacreditplan']").val() != "0")
      {
        $(this).closest("form").find("#form-buybutton").removeClass("hidden").show();
      }
    }
  });
})
</script>
<% end %>
<%=neon_modal_footer do |b| %>
<% if @user.restaurant.dailycious_plan.status > 1 %>
<%=render :partial => "neon/modal_footer_cancel_plan" %>
<% end %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("dailycious.dailycious_plan_modal_cancel") %></button>
<button id="form-buybutton" type="submit" class="btn btn-info hidden"><%=t("dailycious.dailycious_plan_modal_submit") %></button>
<% end %>
<% end %>
<% end %>