<%= neon_modal :id => "buydailydish", :width => "678px", :title => t("dailycious.daily_dish_modal_add_title") do |m| %>
<%= form_tag({:controller => "ajax/daily_dish", :action => "adddailydish"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload validate", :id => "form_buydailydish"}) do %>
<input name="display_date" type="hidden" id="form-display_date" value="">
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-6 hidden-xs">
		<h4 class="margin-top-none"><%=t("dailycious.daily_dish_upload_image") %></h4>
		<%=neon_imageinput :instance_class => DailyDish, :name => :image %>
	</div>
	<div class="col-sm-6">
	  <div class="col-md-12 form-group" style="padding:0px">
      <label for="form-title" class="control-label"><strong><%=t("dailycious.daily_dish_title") %></strong></label>
	    <input name="title" type="text" class="form-control" id="form-title" placeholder="<%=t("dailycious.daily_dish_title_placeholder") %>" value="" data-validate="required, minlength[4],maxlength[40]" data-message-required="<%=t("validation.required") %>" data-message-minlength="<%=t("validation.minlength",{l:"4"}) %>" data-message-maxlength="<%=t("validation.maxlength",{l:"40"}) %>">
	  </div>
	  <div class="col-md-12 form-group" style="padding:0px">
      <label for="form-price" class="control-label"><strong><%=t("dailycious.daily_dish_price") %></strong></label>
	    <input name="price" type="text" class="form-control" id="form-price" placeholder="<%=t("dailycious.daily_dish_price_placeholder") %>" value="" data-validate="required,maxlength[7],price" data-validate="maxlength[400]" data-message-maxlength="<%=t("validation.maxlength",{l:"400"}) %>" data-message-price="<%=t("validation.price") %>">
	  </div>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("dailycious.daily_dish_modal_add_cancel") %></button>
<a href="javascript:;" onclick="if (jQuery('#form_buydailydish').validate().errorList.length == 0){jQuery('#modal-buydailydish').modal('hide');jQuery('#modal-dacreditplan').modal('show').find('#form-buydailydish').val(1);}">
  <button type="submit" class="btn btn-info btn-icon icon-left">
  	<i class="entypo-plus"></i>
    <%=t("dailycious.daily_dish_modal_add_submit_buy") %>
  </button>
</a>
<% end %>
<% end %>
<% end %>