<% content_for :body_class, "page-body" %>
<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/dashboard_menuheader" %>
    <%=render :partial => "layouts/dashboard_menu" %>
  </div>
  <div class="main-content">
    <%=render :partial => "layouts/dashboard_topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="<%=url_for :controller => "dashboard", :action => "index" %>"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li class="active">
        <strong>Dailycious</strong>
      </li>
    </ol>
    <div class="row">
      <div class="col-sm-4">
    	 	<div class="tile-stats tile-white">
    	 		<div class="icon"><i class="entypo-monitor"></i></div>
    	 		<div class="num" data-start="0" data-end="1" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;">0</div>
          <span style="color:#000;font-size:28px;display:inline-block;margin-left:10px;">/ 1</span>
    	 		<h3><%=t("menumalist.installations") %></h3>
          <p><%=t("menumalist.installations_on_iPad") %>
            <button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
              <%=t("menumalist.installations_want_more") %>
              <i class="entypo-plus"></i>
            </button>
          </p>
    	  </div>
    	</div>
    </div>
    <h2>All daily dishes of the week</h2>
    <br />
    <%
    date = Date.today
    if params[:add_weeks]
      date += params[:add_weeks].to_i*7
    end
    %>
    <div class="row">
			<div class="col-md-12">
        <a href="<%=url_for :controller => "dailycious", :action => "index", :add_weeks => (params[:add_weeks].to_i-1) %>">
				  <button type="button" class="col-md-3 btn btn-white">
            <i class="entypo-left-dir"></i>
            Last week
          </button>
        </a>
				<button type="button" class="col-md-6 btn btn-white" disabled>
          <%=date.beginning_of_week.strftime('%a, %d %B %Y') %>
          -
          <%=date.end_of_week.strftime('%a, %d %B %Y') %>
        </button>
        <a href="<%=url_for :controller => "dailycious", :action => "index", :add_weeks => (params[:add_weeks].to_i+1) %>">
				  <button type="button" class="col-md-3 btn btn-white">
            Next week
            <i class="entypo-right-dir"></i>
          </button>
        </a>
			</div>
		</div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped responsive">
          <tbody>
            <%
            for i in 0..6
              current_date = (date.beginning_of_week+i)
            %>
            <tr style="font-size: 18px;">
              <td width="100px;">
                <%=current_date.strftime("%A") %>
              </td>
              <td class="row gallery-env draggable-portlets">
                <%= form_tag({:controller => "ajax/daily_dish", :action => "sortdailydish"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload", :id => "form_sortdailydishes_#{current_date.strftime("%d-%m-%Y")}"}) do %>
                <span class="sorted ui-sortable">
                  <% @user.daily_dishes.where(:display_date => current_date.to_datetime).each do |daily_dish| %>
                  <%=render :partial => "neon/daily_dish_panel", :locals => {:daily_dish => daily_dish} %>
                  <% end %>
                </span>
                <% end %>
                <% if !current_date.past? %>
                <%=render :partial => "neon/panel_add", :locals => {:js_onclick => "jQuery('#modal-adddailydish').modal('show').find('#form-display_date').val('#{current_date.strftime("%d-%m-%Y")}');", :image_size => 0} %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(function(){
			var $draggable_portlets = $(".draggable-portlets");
			
			$(".draggable-portlets .sorted").sortable({
				connectWith: ".draggable-portlets .sorted",
				handle: '.panel-heading',
				start: function()
				{
					$draggable_portlets.addClass('dragging');
				},
				stop: function()
				{
          var f = $(this).closest("form");
          f.find(".panel input[name^='daily_dish_ids[']").each(function(i){
            $(this).val(i);
          });
          f.submit();
				}
			});
			$(".draggable-portlets .sorted .panel-heading").disableSelection();
		});
	});
</script>
<%=render :partial => "modal_adddailydish" %>
<%
for i in 0..6
  current_date = (date.beginning_of_week+i)
%>
<% @user.daily_dishes.where(:display_date => current_date.to_datetime).each do |daily_dish| %>
<%=render :partial => "modal_editdailydish", :locals => {:daily_dish => daily_dish} %>
<% end %>
<% end %>