<script type="text/javascript" charset="utf-8">
	$(function() {
		$("img#cropbox").on("load", function() {
			
			$(this).Jcrop({
				setSelect: [25, 25, 520, 347],
				boxWidth: 580,
				aspectRatio: <%= get_aspect_ratio_of_image(model) %>
			},function(){
				// when moving the cropbox, update the coords
				this.ui.selection.element.on('cropmove cropend',function(e,s,c){
					update_coords(c);
				});
				
				// with css, canvas gets smaller, so has to refresh the coords
				this.refresh();
			});
		});
	});
	
	function update_coords(coords) {
		var ratio = <%= object.image_geometry(:original).width %> / <%= object.image_geometry(:web_large).width %>;
		$("#crop_x").val(Math.round(coords.x * ratio));
		$("#crop_y").val(Math.round(coords.y * ratio));
		$("#crop_w").val(Math.round(coords.w * ratio));
		$("#crop_h").val(Math.round(coords.h * ratio));
	}
</script>

<div class="gallery-image-edit-env">
	<%= image_tag object.image.url(:web_large), :id => "cropbox" %>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>

<%= form_for form_object, remote: true do |f| %>
	<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
		<%= f.hidden_field attribute, :id => attribute %>
	<% end %>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("forms.cancel") %></button>
		<%= f.button :type => "submit", :class => "btn btn-info icon-left" do %>
			<% if ["new", "create"].include? action_name %>
				<i class="entypo-plus"></i>
			<% end %>
			<%= t("forms.submit_#{action_name}", :model => model.model_name.human) %>
		<% end %>
	</div>
<% end %>

