<%
	# 
	# form partial to handle the image uploads
	# ––––––––––––––––––––––––––––––––
	# 
	# variables:
	# 
	# f - form being used
	# image - image of the object
	# crop_link
	# destroy_link
	# 
	# 
	# relevant JavaScript can be found in forms.js
	 %>

<div class="gallery-image-edit-env <%= 'new-image' unless image.exists? %>">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	<%	# –––– edit image %>
	<span id="original-img-src" data-original-image-src="<%= image.exists? ? image.url(:web_large_cropped) : '' %>"></span>
	<% if image.exists? %>
		<%= image_tag image.url(:web_large_cropped), id: "image-preview" %>
		
		<div class="image-actions-holder">
			<%= link_to crop_link, remote: true do %>
				<button type="button" class="btn btn-primary crop-button"><i class="entypo-resize-small"></i></button>
			<% end %>
			
			<button type="button" class="btn btn-primary btn-file">
				<span class="fileinput-exists"><i class="entypo-pencil"></i></span>
				<%= f.file_field :image, accept: "image/*" %>
			</button>
			
			<span class="modal-delete">
			  <button type="button" class="btn btn-danger"><i class="entypo-cancel"></i></button>
			  <button type="button" class="btn btn-default cancel"><%=t("neon.delete_cancel") %></button>
			  
				<%= link_to destroy_link, :method => "delete", :remote => true, :class => "confirm" do %>
			    <button type="button" class="btn btn-danger"><%=t("neon.delete_confirm") %></button>
				<% end %>
			</span>
		</div>
		
	<%	# –––– new image %>
	<% else %>
		<%= f.file_field :image, data: { validate: "filedimension", imgvalidation: "828x552" }, accept: "image/*" %>
		<div class="full-width">
			<div class="border-div"></div>
			<div class="center-holder">
				<div class="text-holder">
					Add an image
				</div>
			</div>
		</div>
		<%= image_tag "", id: "image-preview" %>
	<% end %>
</div>