<%= neon_modal :id => "design", :width => "678px", :title => "Change design" do |m| %>
<%= form_tag({:controller => "ajax", :action => "editdesign"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform", :id => "form_design"}) do %>
<%=neon_modal_body do |b| %>
<div class="row" style="margin-bottom:14px;">
	<div class="col-sm-12">
		<div class="form-group">
      <label class="control-label">Colors</label>
  		<ul class="ui-selectable" style="width:auto">
        <li class="col-sm-3 ui-selected" style="padding-top:15px;padding-bottom:15px;height:100px;">
          <div class="col-sm-6" style="background-color:#eee">test</div>
          <div class="col-sm-6">test</div>
          <div class="col-sm-6">test</div>
          <div class="col-sm-6">test</div>
        </li>
        <li class="col-sm-3" style="padding-top:15px;padding-bottom:15px;height:100px;">test</li>
        <li class="col-sm-3" style="padding-top:15px;padding-bottom:15px;height:100px;">test</li>
        <li class="col-sm-3" style="padding-top:15px;padding-bottom:15px;height:100px;">custom</li>
      </ul>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="field-1" class="control-label">Background</label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input name="background" type="text" class="form-control colorpicker" data-format="hex" value="<%=@user.menuColor.background %>" />
			</div>
  	</div>
  </div>
  <div class="col-md-6 col-md-offset-2">
  	<div class="form-group">
  		<label for="field-1" class="control-label">Background image</label>
      <br />
      <%=neon_imagecrop :image => @user.appmain_image %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="field-1" class="control-label">Navigation-bar</label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input name="bar_background" type="text" class="form-control colorpicker" data-format="hex" value="<%=@user.menuColor.bar_background %>" />
			</div>
  	</div>
  </div> 
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="field-1" class="control-label">Navigation text</label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input name="nav_text" type="text" class="form-control colorpicker" data-format="hex" value="<%=@user.menuColor.nav_text %>" />
			</div>
  	</div>
  </div>
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="field-1" class="control-label">Navigation text active</label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input name="nav_text_active" type="text" class="form-control colorpicker" data-format="hex" value="<%=@user.menuColor.nav_text_active %>" />
			</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="field-1" class="control-label">Font</label>
		  <select name="supportedFont_id" class="select2" data-allow-clear="true" data-placeholder="Select one city...">
        <% SupportedFont.all.each do |supportedFont| %>
        <option value="<%=supportedFont.id %>"><%=supportedFont.title %></option>
        <% end %>
      </select>
  	</div>
  </div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-success btn-icon icon-left">
	<i class="entypo-plus"></i>
	Add dish
</button>
<% end %>
<% end %>
<% end %>