<%= neon_modal :id => "editnavigation-#{navigation.id}", :width => "678px", :title => "Edit category", :languages => navigation.menu.languages, :default_language => navigation.menu.default_language do |m| %>
<%= form_tag({:controller => "ajax/navigation", :action => "editnavigation"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform", :id => "form_editnavigation"}) do %>
<input name="navigation_id" type="hidden" id="form-navigation_id" value="<%=navigation.id %>">
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-6">
		<div class="row">
			<div class="col-md-12">
				<h4 class="margin-top-none">Image</h4>
        <%=neon_imagecrop :image => navigation.image %>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group tab-content">
      <%
      current_locale = I18n.locale
      
      navigation.menu.languages.each do |language|
        I18n.locale = language.locale
      %>
      <div class="tab-pane <%="active" if navigation.menu.default_language == language %>" id="modal-editnavigation-<%=navigation.id %>-lang-<%=language.locale %>">
        <label for="form-title[<%=language.locale %>]" class="control-label"><strong>Title</strong> - <%=language.title.capitalize %><%=" (Default)" if navigation.menu.default_language == language %></label>
			  <input name="title[<%=language.locale %>]" type="text" class="form-control" id="form-title[<%=language.locale %>]" placeholder="Enter album title" value="<%=navigation.title %>">
      </div>
      <%
      end
      
      I18n.locale = current_locale
      %>
		</div>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-info" >Save changes</button>
<% end %>
<% end %>
<% end %>