<div class="modal fade custom-width" id="modal-editnavigation-<%=navigation.id %>">
	<div class="modal-dialog" style="width: 65%;">
		<div class="modal-content">
      <%= form_tag({:controller => "ajax", :action => "editnavigation"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform", :id => "form_editnavigation"}) do %>
        <input name="menu_id" type="hidden" id="form-menu_id" value="<%=menu.id %>">
        <input name="navigation_id" type="hidden" id="form-navigation_id" value="<%=navigation.id %>">
        <% if defined? parent_navigation %>
        <input name="navigation_id" type="hidden" id="form-sub_navigation_id" value="<%=parent_navigation.id %>">
        <input name="sub_navigation_id" type="hidden" id="form-navigation_id" value="<%=navigation.id %>">
        <% else %>
        <input name="navigation_id" type="hidden" id="form-navigation_id" value="<%=navigation.id %>">
        <% end %>
			  <div class="modal-header">
			  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  	<h4 class="modal-title">Add new category</h4>
			  </div>
			  <div class="modal-body">
			  	<div class="row">
            <div class="col-sm-12">
          		<ul class="nav nav-tabs right-aligned" style="margin-top:-10px;">
                <% menu.languages.each do |language| %>
          			<li <%="class=active" if menu.languages.first == language %>>
                  <a href="#modal-editmenu-tab-<%=language.locale %>" data-toggle="tab">
          					<span class="visible-xs"><%=language.locale.capitalize %><%=" (Default)" if menu.default_language == language %></span>
          					<span class="hidden-xs"><%=language.title.capitalize %><%=" (Default)" if menu.default_language == language %></span>
          				</a>
          			</li>
                <% end %>
          		</ul>
            </div>
			  		<div class="col-sm-6">
			  			<div class="row">
			  				<div class="col-md-12">
			  					<h4 class="margin-top-none">Upload Image</h4>
  		  					<div class="fileinput fileinput-new" data-provides="fileinput">
  		  						<div class="fileinput-new thumbnail" style="width:100%;height:auto;" data-trigger="fileinput">
  		  							<img src="http://placehold.it/1508x1012" alt="...">
  		  						</div>
  		  						<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
  		  						<div>
  		  							<span class="btn btn-white btn-file">
  		  								<span class="fileinput-new">Select image</span>
  		  								<span class="fileinput-exists">Change</span>
  		  								<input name="image" type="file" accept="image/*">
  		  							</span>
  		  							<a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
  		  						</div>
  		  					</div>
			  				</div>
			  			</div>
			  		</div>
			  		<div class="col-sm-6">
			  			<div class="row">
			  				<div class="col-md-12">
			  					<div class="form-group tab-content">
                    <%
                    current_locale = I18n.locale
                    menu.languages.each do |language|
                      I18n.locale = language.locale
                    %>
                    <div class="tab-pane <%="active" if menu.languages.first == language %>" id="modal-editmenu-tab-<%=language.locale %>">
                      <label for="form-title[<%=language.locale %>]" class="control-label"><strong>Title</strong> - <%=language.title.capitalize %><%=" (Default)" if menu.default_language == language %></label>
			  						  <input name="title[<%=language.locale %>]" type="text" class="form-control" id="form-title[<%=language.locale %>]" placeholder="Enter album title" value="<%=navigation.title %>">
                    </div>
                    <%
                    end
                    I18n.locale = current_locale
                    %>
			  					</div>
			  				</div>
			  			</div>
			  		</div>
			  	</div>
			  </div>
			  <div class="modal-footer">
			  	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			  	<button type="submit" class="btn btn-info" >Save changes</button>
			  </div>
      <% end %>
		</div>
	</div>
</div>