<%= neon_modal :id => "editdish-#{dish.id}", :width => "65%", :title => "Edit dish" do |m| %>
<%= form_tag({:controller => "ajax", :action => "editdish"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform", :id => "form_editdish"}) do %>
<input name="dish_id" type="hidden" id="form-dish_id" value="<%=dish.id %>">
<%=neon_modal_body do |b| %>
<div class="row">
  <div class="col-sm-12">
		<ul class="nav nav-tabs right-aligned" style="margin-top:-10px;">
      <% dish.navigation.menu.languages.each do |language| %>
			<li <%="class=active" if dish.navigation.menu.languages.first == language %>>
        <a href="#modal-editmenu-tab-<%=language.locale %>" data-toggle="tab">
					<span class="visible-xs"><%=language.locale.capitalize %><%=" (Default)" if dish.navigation.menu.default_language == language %></span>
					<span class="hidden-xs"><%=language.title.capitalize %><%=" (Default)" if dish.navigation.menu.default_language == language %></span>
				</a>
			</li>
      <% end %>
		</ul>
  </div>
	<div class="col-sm-6">
		<h4 class="margin-top-none">Upload Image</h4>
    <%=neon_imagecrop :image => dish.image %>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group tab-content">
          <%
          current_locale = I18n.locale
          dish.navigation.menu.languages.each do |language|
            I18n.locale = language.locale
          %>
          <div class="tab-pane <%="active" if dish.navigation.menu.languages.first == language %>" id="modal-editmenu-tab-<%=language.locale %>">
            <label for="form-title[<%=language.locale %>]" class="control-label"><strong>Title</strong> - <%=language.title.capitalize %><%=" (Default)" if dish.navigation.menu.default_language == language %></label>
					  <input name="title[<%=language.locale %>]" type="text" class="form-control" id="form-title[<%=language.locale %>]" placeholder="Enter album title" value="<%=dish.title %>">
          </div>
          <%
          end
          I18n.locale = current_locale
          %>
				</div>
			</div>
			<div class="col-md-12">
        <label class="control-label"><strong>Description</strong></label>
			  <textarea class="control-label"></textarea>
        <br />
			</div>
			<div class="col-md-12">
        <label  class="control-label"><strong>Price</strong></label>
			  <input name="" type="text" class="form-control" id="" placeholder="Enter album title" value="<">
			</div>
		</div>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-info" >Save changes</button>
<% end %>
<% end %>
<% end %>