<%= neon_modal :id => "addmenu", :width => "678px", :title => t("menumalist.menu_modal_add_title") do |m| %>
<%= form_tag({:controller => "ajax/menu", :action => "addmenu"}, {:role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_addmenu"}) do %>
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label for="form-title" class="control-label"><%=t("menumalist.menu_name") %></label>
      <div class="form-group">
		  	<input name="title" type="text" class="form-control" id="form-title" placeholder="<%=t("menumalist.menu_name_placeholder") %>" value="" data-validate="required,minlength[4],maxlength[40]" data-message-required="<%=t("validation.required") %>" data-message-minlength="<%=t("validation.minlength",{l:"4"}) %>" data-message-maxlength="<%=t("validation.maxlength",{l:"40"}) %>">
      </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label class="control-label"><%=t("menumalist.menu_default") %></label>
      <div class="input-group">
        <span class="pl8es_c_toggledefaultmenu">
          <button type="button" class="btn btn-green btn-icon disabled icon-left">
          	<%=t("menumalist.menu_default_default") %>
          	<i class="entypo-flag"></i>
          </button>
        </span>
        <a href="javascript:;" onclick="pl8es_f_makedefaultmenu();" class="pl8es_c_makedefaultmenu">
          <button type="button" class="btn btn-default btn-icon icon-left">
          	<%=t("menumalist.menu_default_make_default") %>
          	<i class="entypo-flag"></i>
          </button>
        </a>
        <a href="javascript:;" onclick="pl8es_f_revertdefaultmenu();" class="pl8es_c_revertdefaultmenu">
          <button type="button" class="btn btn-warning btn-xs">
          	<%=t("menumalist.menu_default_default_undo") %>
          </button>
        </a>
      </div>
		</div>
	</div>
</div>
<div class="row pl8es_c_makedefaultmenu" style="margin-bottom:14px;">
	<div class="">
  	<div class="col-md-6 input-group">
			<label for="form-from_time" class="control-label"><%=t("menumalist.menu_from") %></label>
      <div class="input-group">
  	   	<input name="from_time" type="text" class="form-control timepicker" id="form-from_time" data-template="dropdown" data-show-seconds="false" data-default-time="16:00" data-show-meridian="false" data-minute-step="5" palceholder="<%=t("menumalist.menu_from_placeholder") %>" data-validate="required,time" data-message-required="<%=t("validation.required") %>" data-message-time="<%=t("validation.time") %>" />
  	    <div class="input-group-addon">
  	    	<a href="#"><i class="entypo-clock"></i></a>
  	    </div>
      </div>
    </div>
  	<div class="col-md-6">
			<label for="form-to_time" class="control-label"><%=t("menumalist.menu_to") %></label>
      <div class="input-group">
  	   	<input name="to_time" type="text" class="form-control timepicker" id="form-to_time" data-template="dropdown" data-show-seconds="false" data-default-time="23:30" data-show-meridian="false" data-minute-step="5" palceholder="<%=t("menumalist.menu_to_placeholder") %>" data-validate="required,time" data-message-required="<%=t("validation.required") %>" data-message-time="<%=t("validation.time") %>" />
  	    <div class="input-group-addon">
  	    	<a href="#"><i class="entypo-clock"></i></a>
  	    </div>
      </div>
    </div>
	</div>
</div>
<div class="row" style="margin-bottom:14px;">
	<div class="col-md-12">
		<label for="form-languages" class="control-label"><%=t("menumalist.menu_default_language") %></label>
    <br />
	  <select name="default_language" id="form-default_language" class="select2" data-allow-clear="false" data-placeholder="<%=t("menumalist.menu_default_language_select") %>">
      <% Language.all.each do |language| %>
	  	<option value="<%=language.id %>" <%="selected" if language == Language.first %>><%=language.title.capitalize %></option>
      <% end %>
	  </select>
	</div>
</div>
<div class="row" style="margin-bottom:14px;">
	<div class="col-md-12">
		<label for="form-languages" class="control-label"><%=t("menumalist.menu_languages") %></label>
  </div>
	<div class="">
    <% Language.all.each do |language| %>
    <div class="col-sm-3">
      <input class="icheck-2-checkbox" type="checkbox" id="form-language-<%=language.id %>" name="languages[<%=language.id %>]" <%="disabled checked" if language == Language.first %>>
      <label for="form-language-<%=language.id %>"><%=language.title.capitalize %></label>
    </div>
    <% end %>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("menumalist.menu_modal_add_cancel") %></button>
<button type="submit" class="btn btn-info btn-icon icon-left">
	<i class="entypo-plus"></i>
	<%=t("menumalist.menu_modal_add_submit") %>
</button>
<% end %>
<% end %>
<% end %>