<%= neon_modal :id => "addnavigation", :width => "678px", :title => "Add new category", :languages => menu.languages, :default_language => menu.default_language do |m| %>
<%= form_tag({:controller => "ajax/navigation", :action => "addnavigation"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform", :id => "form_addnavigation"}) do %>
<input name="menu_id" type="hidden" id="form-menu_id" value="<%=menu.id %>">
<% if defined? navigation %>
<input name="navigation_id" type="hidden" id="form-navigation_id" value="<%=navigation.id %>">
<% end %>
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-6 hidden-xs">
		<h4 class="margin-top-none">Upload Image</h4>
		<%=neon_imageinput :name => "image" %>
	</div>
	<div class="col-sm-6">
		<div class="form-group tab-content">
      <% menu.languages.each do |language| %>
      <div class="tab-pane <%="active" if menu.default_language == language %>" id="modal-addnavigation-lang-<%=language.locale %>">
        <label for="form-title[<%=language.locale %>]" class="control-label"><strong>Title</strong> - <%=language.title.capitalize %><%=" (Default)" if menu.default_language == language %></label>
			  <input name="title[<%=language.locale %>]" type="text" class="form-control" id="form-title[<%=language.locale %>]" placeholder="Enter album title">
      </div>
      <% end %>
		</div>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-success btn-icon icon-left">
	<i class="entypo-plus"></i>
	Add navigation
</button>
<% end %>
<% end %>
<% end %>