<%= neon_modal :id => "editmenu-#{menu.id}", :width => "678px", :title => "Edit speisekarte" do |m| %>
<%= form_tag({:controller => "ajax/menu", :action => "editmenu"}, {:role => "form", :class => "pl8es_c_ajaxform", :id => "form_editmenu"}) do %>
<input name="menu_id" type="hidden" id="form-menu_id" value="<%=menu.id %>">
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label for="form-title" class="control-label">Speisekarten name</label>
			<input name="title" type="text" class="form-control" id="form-title" placeholder="Menu name" value="<%=menu.title %>">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label class="control-label">Make this speisekarte the default one</label>
      <br />
      <span class="pl8es_c_toggledefaultmenu">
        <button type="button" class="btn btn-green btn-icon disabled icon-left">
        	Default
        	<i class="entypo-flag"></i>
        </button>
      </span>
      <a href="javascript:;" onclick="pl8es_f_makedefaultmenu();" class="pl8es_c_makedefaultmenu">
        <button type="button" class="btn btn-default btn-icon icon-left">
        	Make default
        	<i class="entypo-flag"></i>
        </button>
      </a>
      <a href="javascript:;" onclick="pl8es_f_revertdefaultmenu();" class="pl8es_c_revertdefaultmenu">
        <button type="button" class="btn btn-warning btn-xs">
        	undo
        </button>
      </a>
		</div>
	</div>
</div>
<div class="row pl8es_c_makedefaultmenu" style="margin-bottom:14px;">
	<div class="col-md-12">
		<label for="field-1" class="control-label">Choose speisekarte display time</label>
  </div>
	<div class="col-md-12">
  	<div class="col-md-6 input-group">
			<label for="form-from_time" class="control-label">From :</label>
      <div class="input-group">
  	   	<input name="from_time" type="text" class="form-control timepicker" id="form-from_time" data-template="dropdown" data-show-seconds="false" data-default-time="<%=menu.from_time %>" data-show-meridian="false" data-minute-step="5" />
  	    <div class="input-group-addon">
  	    	<a href="#"><i class="entypo-clock"></i></a>
  	    </div>
      </div>
    </div>
  	<div class="col-md-6 input-group">
			<label for="form-to_time" class="control-label">To :</label>
  	  <input name="to_time" type="text" class="form-control timepicker" id="form-to_time" data-template="dropdown" data-show-seconds="false" data-default-time="<%=menu.to_time %>" data-show-meridian="false" data-minute-step="5" />
  	  <div class="input-group-addon">
  	  	<a href="#"><i class="entypo-clock"></i></a>
  	  </div>
    </div>
	</div>
</div>
<div class="row" style="margin-bottom:14px;">
	<div class="col-md-12">
		<label for="form-languages" class="control-label">Select your languages</label>
    <br />
		<select class="select2" id="form-languages" multiple>
      <%
      languages = menu.languages
      Language.all.each do |language|
      %>
			<option value="<%=language.locale %>" <%="selected" if languages.exists?(language.id) %> <%="data-locked=true" if languages.count==1 && language.id==1 %>><%=language.title.capitalize %></option>
      <% end %>
		</select>
	</div>
</div>
<div class="row" style="margin-bottom:14px;">
	<div class="col-sm-12">
		<label class="control-label">To delete this speisekarte, press "delete"</label>
    <br />
    <% MenuLabel.all.each do |menuLabel|%>
    <div class="col-sm-3">
      <input class="icheck-2-radio" type="radio" id="form-label-1" name="label" value="<%=menuLabel.id %>" <%="checked" if menu.menuLabel != nil && menu.menuLabel.id == menuLabel.id %>>
      <label for="form-label-1"><span class="badge badge-primary"><%=menuLabel.title %></span></label>
    </div>
    <% end %>
    <div class="col-sm-3">
      <input class="icheck-2-radio" type="radio" id="form-label-1" name="label" value="" <%="checked" if menu.menuLabel == nil %>>
      <label for="form-label-1">None</label>
    </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label for="field-1" class="control-label">To delete this speisekarte, press "delete"</label>
      <br />
      <a href="javascript:;" onclick="pl8es_f_initdeletemenu();" class="pl8es_c_initdeletemenu">
        <button type="button" class="btn btn-red btn-icon icon-left">
        	Delete
        	<i class="entypo-cancel"></i>
        </button>
      </a>
      <span class="pl8es_c_confirmdeletemenu">
        Are you sure you want to delete?
        <a href="javascript:;" onclick="pl8es_f_confirmdeletemenu(<%=menu.id %>);">
          <button type="button" class="btn btn-red btn-icon icon-left">
          	Yes, delete
          	<i class="entypo-cancel"></i>
          </button>
        </a>
        <a href="javascript:;" onclick="pl8es_f_revertdeletemenu();">
          <button type="button" class="btn btn-warning btn-xs">
            Keep
          </button>
        </a>
      </span>
		</div>
	</div>
</div>
<% end %>
<%=neon_modal_footer do |b| %>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="submit" class="btn btn-info" >Save changes</button>
<% end %>
<% end %>
<% end %>