<%= neon_modal :id => "design", :width => "678px", :title => t("menumalist.design_modal_title") do |m| %>
<%= form_tag({:controller => "ajax", :action => "editdesign"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform", :id => "form_design"}) do %>
<%=neon_modal_body do |b| %>
<div class="row" style="margin-bottom:14px;">
	<div class="col-sm-12">
		<div class="form-group">
      <label class="control-label">Colors</label>
  		<ul id="form-menu_color" class="ui-selectable">
        <% MenuColorTemplate.all.each do |menuColorTemplate| %>
        <li style="float:left;width:144px;height:108px;text-align:center;line-height:108px;margin:4px;background-image:url(<%=menuColorTemplate.preview_image.url(:cropped_default_retina) %>);background-size:cover;color:transparent;" class="<%="ui-selected" if @user.restaurant.menuColorTemplate == menuColorTemplate %>"><%=menuColorTemplate.id %></li>
        <% end %>
        <li style="float:left;width:144px;height:108px;text-align:center;line-height:108px;margin:4px;" class="<%="ui-selected" if @user.restaurant.menuColorTemplate == nil %>">custom</li>
      </ul>
      <input name="menuColorTemplate_id" type="hidden" id="form-menuColorTemplate_id" value="<%=@user.restaurant.menuColorTemplate.id if @user.restaurant.menuColorTemplate %>">
		</div>
	</div>
</div>
<div id="form-menu_color_custom" class="row">
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="form-bar_background" class="control-label"><%=t("menumalist.design_background_color") %></label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input id="form-background" name="background" type="text" class="form-control colorpicker" data-format="hex" value="<%=@user.restaurant.menuColor.background %>" placeholder="<%=t("neon.input_color_placeholder") %>" required data-validate="minlength[4],maxlength[7],hexcolor" data-message-minlength="<%=t("validation.minlength",{l:"4"}) %>" data-message-maxlength="<%=t("validation.maxlength",{l:"7"}) %>" data-message-hexcolor="<%=t("validation.hexcolor") %>" />
			</div>
  	</div>
  </div>
  <div class="col-md-6 col-md-offset-2">
  	<div class="form-group">
  		<label for="form-bar_background" class="control-label"><%=t("menumalist.design_background_image") %></label>
      <br />
      <%=neon_imagecrop :image => @user.restaurant.appmain_image %>
    </div>
  </div>
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="form-bar_background" class="control-label"><%=t("menumalist.design_navigation_bar_color") %></label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input id="form-bar_background" name="bar_background" type="text" class="form-control colorpicker" data-format="hex" value="<%=@user.restaurant.menuColor.bar_background %>" placeholder="<%=t("neon.input_color_placeholder") %>" required data-validate="minlength[4],maxlength[7],hexcolor" data-message-minlength="<%=t("validation.minlength",{l:"4"}) %>" data-message-maxlength="<%=t("validation.maxlength",{l:"7"}) %>" data-message-hexcolor="<%=t("validation.hexcolor") %>" />
			</div>
  	</div>
  </div> 
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="form-nav_text" class="control-label"><%=t("menumalist.design_navigation_text_color") %></label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input id="form-nav_text" name="nav_text" type="text" class="form-control colorpicker" data-format="hex" value="<%=@user.restaurant.menuColor.nav_text %>" placeholder="<%=t("neon.input_color_placeholder") %>" required data-validate="minlength[4],maxlength[7],hexcolor" data-message-minlength="<%=t("validation.minlength",{l:"4"}) %>" data-message-maxlength="<%=t("validation.maxlength",{l:"7"}) %>" data-message-hexcolor="<%=t("validation.hexcolor") %>" />
			</div>
  	</div>
  </div>
  <div class="col-md-4">
  	<div class="form-group">
  		<label for="form-nav_text_active" class="control-label"><%=t("menumalist.design_navigation_text_active_color") %></label>
			<div class="input-group">
				<div class="input-group-addon">
					<a href="#"><i class="color-preview"></i></a>
				</div>
				<input id="form-nav_text_active" name="nav_text_active" type="text" class="form-control colorpicker" data-format="hex" value="<%=@user.restaurant.menuColor.nav_text_active %>" placeholder="<%=t("neon.input_color_placeholder") %>" required data-validate="minlength[4],maxlength[7],hexcolor" data-message-minlength="<%=t("validation.minlength",{l:"4"}) %>" data-message-maxlength="<%=t("validation.maxlength",{l:"7"}) %>" data-message-hexcolor="<%=t("validation.hexcolor") %>" />
			</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  	<div class="form-group">
  		<label class="control-label"><%=t("menumalist.design_font") %></label>
		  <select name="supportedFont_id" class="select2" data-allow-clear="false" data-placeholder="Select one city...">
        <% SupportedFont.all.each do |supportedFont| %>
        <option value="<%=supportedFont.id %>" <%="selected" if @user.restaurant.supportedFont == supportedFont %>><%=supportedFont.title %></option>
        <% end %>
      </select>
  	</div>
  </div>
  <div class="col-md-6 col-md-offset-2">
  	<div class="form-group">
  		<label for="field-1" class="control-label"><%=t("menumalist.design_splashscreen_image") %></label>
      <br />
      <%=neon_imagecrop :image => @user.restaurant.splashscreen_image %>
    </div>
  </div>
</div>
<script type="text/javascript">
$("#form-menu_color.ui-selectable").each(function(){
  var menucolors = jQuery.parseJSON('<%=raw MenuColorTemplate.all.to_json(:only => [:background, :bar_background, :nav_text, :nav_text_active]).to_s %>');
  function change_appearance(s){
    var i = s.parent().find("li").index(s.find(".ui-selected"));
    if (s.parent().find("li").size()-i == 1){
      $("#form-menuColorTemplate_id").val(0);
      $("#form-menu_color_custom").show();
    }
    else{
      $("#form-menuColorTemplate_id").val(s.find("li").eq(i).html());
      $.each(menucolors[i],function(k,v){
        $("input[name='"+k+"']").val(v).closest(".input-group").find(".input-group-addon .color-preview").css("background-color",v);
      });
      $("#form-menu_color_custom").hide();
    }
  }
  $(this).selectable({
    stop: function(event, id){
      change_appearance($(this));
    }
  });
  change_appearance($(this));
})
</script>
<% end %>
<%=neon_modal_footer do |b| %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("menumalist.design_modal_cancel") %></button>
<button type="submit" class="btn btn-info"><%=t("menumalist.design_modal_submit") %></button>
<% end %>
<% end %>
<% end %>