<%= neon_modal :id => "editdish-#{dish.id}", :width => "678px", :title => t("menumalist.dish_modal_edit_title"), :languages => dish.navigation.menu.languages, :default_language => dish.navigation.menu.default_language do |m| %>
<%= form_tag({:controller => "ajax/dish", :action => "editdish"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform validate", :id => "form_editdish"}) do %>
<input name="dish_id" type="hidden" id="form-dish_id" value="<%=dish.id %>">
<%=neon_modal_body do |b| %>
<div class="row">
	<div class="col-sm-6">
		<h4 class="margin-top-none"><%=t("menumalist.dish_upload_image") %></h4>
    <%=neon_imagecrop :image => dish.image %>
	</div>
	<span class="row tab-content">
    <%
    current_locale = I18n.locale
    dish.navigation.menu.languages.each do |language|
      I18n.locale = language.locale
    %>
    <span class="tab-pane <%="active" if dish.navigation.menu.default_language == language %>" id="modal-editdish-<%=dish.id %>-lang-<%=language.locale %>">
      <input type="hidden" name="language_locale" value="<%=language.locale %>">
	    <div class="col-sm-6">
			  <div class="col-md-12 form-group">
          <label for="form-title[<%=language.locale %>]" class="control-label"><strong><% I18n.locale = current_locale %><%=t("menumalist.dish_title") %><% I18n.locale = language.locale %></strong> - <%=language.title.capitalize %><%=" (Default)" if dish.navigation.menu.default_language == language %></label>
			    <input name="title[<%=language.locale %>]" type="text" class="form-control" id="form-title[<%=language.locale %>]" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.dish_title_placeholder") %><% I18n.locale = language.locale %>" value="<%=dish.title %>" data-validate="maxlength[28]" <%="required" if dish.navigation.menu.default_language == language %>>
			  </div>
			  <div class="col-md-12 form-group">
          <label for="form-description[<%=language.locale %>]" class="control-label"><strong><% I18n.locale = current_locale %><%=t("menumalist.dish_description") %><% I18n.locale = language.locale %></strong></label>
			    <textarea name="description[<%=language.locale %>]" class="form-control" id="form-description[<%=language.locale %>]" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.dish_description_placeholder") %><% I18n.locale = language.locale %>" data-validate="maxlength[700]" <%="required" if dish.navigation.menu.default_language == language %> style="height:134px;"><%=dish.description %></textarea>
			  </div>
			  <div class="col-md-12 form-group">
          <label for="form-price" class="control-label"><strong><% I18n.locale = current_locale %><%=t("menumalist.dish_price") %><% I18n.locale = language.locale %></strong></label>
			    <input name="price" type="text" class="form-control" id="form-price" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.dish_price_placeholder") %><% I18n.locale = language.locale %>" value="<%=dish.price %>" data-validate="number,maxlength[7]" <%="required" if dish.navigation.menu.default_language == language %>>
			  </div>
      </div>
      <div class="row">
	    	<div class="col-md-12" style="display:inline-block;">
	    		<ul class="nav nav-tabs right-aligned">
            <% if 1==2 %>
	    			<li><a href="#v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-wines" data-toggle="tab"><% I18n.locale = current_locale %><%=t("menumalist.dish_wines") %><% I18n.locale = language.locale %></a></li>
            <% end %>
	    			<li class="active"><a href="#v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-dishes" data-toggle="tab"><% I18n.locale = current_locale %><%=t("menumalist.dish_dishes") %><% I18n.locale = language.locale %></a></li>
	    			<li><a href="#v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-drinks" data-toggle="tab"><% I18n.locale = current_locale %><%=t("menumalist.dish_drinks") %><% I18n.locale = language.locale %></a></li>
	    			<li><a href="#v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-sides" data-toggle="tab"><% I18n.locale = current_locale %><%=t("menumalist.dish_sides") %><% I18n.locale = language.locale %></a></li>
	    			<li><a href="#v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-ingredients" data-toggle="tab"><% I18n.locale = current_locale %><%=t("menumalist.dish_ingredients") %><% I18n.locale = language.locale %></a></li>
	    		</ul>
        </div>
	    	<div class="col-md-12">
	    		<div class="tab-content">
            <% if 1==2 %>
	    			<div class="tab-pane active" id="v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-wines">
              <div class="col-md-12" style="margin-bottom:10px;">
      					<% I18n.locale = current_locale %><%=t("menumalist.dish_wines_text") %><% I18n.locale = language.locale %>
              </div>
              <div class="col-md-12">
	    				  <p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted.</p>
              </div>
	    			</div>
            <% end %>
	    			<div class="tab-pane" id="v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-dishes">
              <div class="col-md-12" style="margin-bottom:10px;">
      					<% I18n.locale = current_locale %><%=t("menumalist.dish_dishes_text") %><% I18n.locale = language.locale %>
              </div>
              <div class="col-md-6">
                <div class="col-md-12">
    			  		  <select name="dishsuggestions[0]" id="form-dishes" class="select2" data-language="<%=language.locale %>" data-allow-clear="true" data-placeholder="<% I18n.locale = current_locale %><%=t("menumalist.dish_dishes_placeholder") %><% I18n.locale = language.locale %>">
    			  				<option></option>
                    <% dish.navigation.menu.navigations.each do |navigation| %>
    			  		  	<optgroup label="<%=navigation.title %>">
                      <% navigation.dishes.each do |cat_dish| %>
                      <% if cat_dish.id != dish.id %>
    			  		  		<option value="<%=cat_dish.id %>" <%="selected" if dish.dishsuggestion_1 == cat_dish %>><%=cat_dish.title %></option>
                      <% end %>
                      <% end %>
    			  		  	</optgroup>
                    <% end %>
    			  		  </select>
                </div>
                <div class="col-md-12 pl8es_c_dish" style="margin-top:14px;display:none;" id="form-dishsuggestion_info0">
                  <img src="" width="50%">
                  <div class="pl8es_c_dish_title"></div>
                  <div class="pl8es_c_dish_price"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12">
    			  	  	<select name="dishsuggestions[1]" id="form-dishes" class="select2" data-language="<%=language.locale %>" data-allow-clear="true" data-placeholder="<% I18n.locale = current_locale %><%=t("menumalist.dish_dishes_placeholder") %><% I18n.locale = language.locale %>">
    			  				<option></option>
                    <% dish.navigation.menu.navigations.each do |navigation| %>
    			  	  		<optgroup label="<%=navigation.title %>">
                      <% navigation.dishes.each do |cat_dish| %>
                      <% if cat_dish.id != dish.id %>
    			  	  			<option value="<%=cat_dish.id %>" <%="selected" if dish.dishsuggestion_2 == cat_dish %>><%=cat_dish.title %></option>
                      <% end %>
                      <% end %>
    			  	  		</optgroup>
                    <% end %>
    			  	  	</select>
                </div>
                <div class="col-md-12 pl8es_c_dish" style="margin-top:14px;display:none;" id="form-dishsuggestion_info1">
                  <img src="" width="50%">
                  <br />
                  <div class="pl8es_c_dish_title"></div>
                  <div class="pl8es_c_dish_price"></div>
                </div>
              </div>
	    			</div>
	    		  <div class="tab-pane form-group" id="v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-drinks">
              <div class="col-md-12" style="margin-bottom:10px;">
      					<% I18n.locale = current_locale %><%=t("menumalist.dish_drinks_text") %><% I18n.locale = language.locale %>
              </div>
              <div class="col-md-12">
	    		  	  <textarea name="drinks[<%=language.locale %>]" class="form-control" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.dish_drinks_placeholder") %><% I18n.locale = language.locale %>" data-validate="maxlength[250]"><%=dish.drinks %></textarea>
              </div>
	    		  </div>
	    		  <div class="tab-pane form-group" id="v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-sides">
              <div class="col-md-12" style="margin-bottom:10px;">
      					<% I18n.locale = current_locale %><%=t("menumalist.dish_sides_text") %><% I18n.locale = language.locale %>
              </div>
              <div class="col-md-12">
	    	  	    <textarea name="sides[<%=language.locale %>]" class="form-control" placeholder="<% I18n.locale = current_locale %><%=t("menumalist.dish_sides_placeholder") %><% I18n.locale = language.locale %>" data-validate="maxlength[250]"><%=dish.sides %></textarea>
              </div>
	    		  </div>
	    			<div class="tab-pane" id="v2-editdish-tab-<%=language.locale %>-suggestions-<%=dish.id %>-ingredients">
              <div class="col-md-12" style="margin-bottom:10px;">
      					<% I18n.locale = current_locale %><%=t("menumalist.dish_ingredients_text") %><% I18n.locale = language.locale %>
              </div>
              <div class="col-md-12">
                <% Ingredient.all.each do |ingredient| %>
                <div class="col-sm-3">
                  <input class="icheck-2-checkbox" type="checkbox" id="form-ingredients-1" name="ingredients[<%=ingredient.id %>]" <%="checked" if dish.ingredients.exists?(ingredient.id) %>>
                  <label for="form-ingredients-1"><%=ingredient.title %></label>
                </div>
                <% end %>
              </div>
	    			</div>
	    		</div>
	    	</div>
      </div>
    </span>
    <%
    end
    I18n.locale = current_locale
    %>
  </span>
</div>
<script type="text/javascript">
$("#modal-editdish-<%=dish.id %> select.select2[name^='dishsuggestions[']").each(function(){
  var i = $(this).attr("name").split("[")[1].split("]")[0];
  var c = $(this).closest("span[id^='modal-editdish-<%=dish.id %>']").find("#form-dishsuggestion_info"+i);
  $(this).on("change",function(e){
    if ($(this).val().length > 0){
      $.get("/a/dish/"+$(this).val()+"/"+$(this).attr("data-language"),function(d){
        c.show();
        c.find("img").show().attr("src", d["dish"]["image_url"]);
        c.find(".pl8es_c_dishsuggestion_price").html(d["dish"]["price"]);
        c.find(".pl8es_c_dishsuggestion_title").html(d["dish"]["title"]);
      });
    }
    else{
      c.hide();
    }
  }).trigger("change");
  $(this).on("select2-removed", function(e){
    c.hide();
  });
});
</script>
<% end %>
<%=neon_modal_footer do |b| %>
<%=render :partial => "neon/modal_footer_delete" %>
<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("menumalist.dish_modal_edit_cancel") %></button>
<button type="submit" class="btn btn-success"><%=t("menumalist.dish_modal_edit_submit") %></button>
<% end %>
<% end %>
<% end %>