<% content_for :body_class, "page-body" %>

<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/dashboard_menuheader" %>
    <ul id="main-menu">
      <%=render :partial => "layouts/dashboard_menu" %>
    </ul>
  </div>
  <div class="main-content">
    <%=render :partial => "layouts/dashboard_topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="index.html"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li class="">
        <a href="<%=url_for :controller => "menumalist", :action => "index" %>">Alle Speisekarten</a>
      </li>
      <li class="active">
        <strong><%=@menu.title %></strong>
      </li>
    </ol>
    <div class="row">
		  <div class="col-sm-12">
        <div id="list-1" class="nested-list dd with-margins">
        	<ul class="dd-list">
        		<li class="dd-item">
              <button data-action="collapse" type="button">Collapse</button><button data-action="expand" type="button" style="display: none;">Expand</button>
        			<div class="dd-handle">Item 1</div>
        			<ul class="dd-list">
        				<li class="dd-item">
        					<div class="dd-handle">
        						Sub Item 1
        					</div>
        				</li>
				
        				<li class="dd-item">
        					<div class="dd-handle">
        						Sub Item 2
        					</div>
        				</li>
        			</ul>
        		</li>
        		<li class="dd-item">
        			<div class="dd-handle">
        				Item 2
        			</div>
        		</li>
        		<li class="dd-item">
        			<div class="dd-handle">
        				Item 3
        			</div>
        		</li><li class="dd-item">
        			<div class="dd-handle">
        				Item 4
        			</div>
        		</li>
        	</ul>
        </div>
		  </div>
    </div>
  </div>
</div>