<% content_for :body_class, "page-body" %>
<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/dashboard_menuheader" %>
    <%=render :partial => "layouts/dashboard_menu" %>
  </div>
  <div class="main-content">
    <%=render :partial => "layouts/dashboard_topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="index.html"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li class="">
        <a href="<%=url_for :controller => "menumalist", :action => "index" %>"><%=t("menumalist.all_menus") %></a>
      </li>
      <li class="active">
        <strong><%=@menu.title %></strong>
      </li>
    </ol>
    <div class="row gallery-env draggable-portlets">
      <%= form_tag({:controller => "ajax/navigation", :action => "sortnavigation"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload", :id => "form_sortnavigation"}) do %>
      <input type="hidden" name="menu_id" value="<%=@menu.id %>">
      <span class="sorted ui-sortable">
        <% @menu.navigations.find_all_by_level(0).each do |navigation| %>
        <%=neon_navigationpanel :navigation => navigation %>
        <% end %>
      </span>
      <% end %>
      <div class="col-sm-3" style="height:240px;">
        <div style="margin-top:50%;text-align:center;">
          <a href="javascript:;" onclick="jQuery('#modal-addnavigation').modal('show');">
            <button type="button" class="btn btn-green btn-icon btn-lg  icon-left">
            	<%=t("menumalist.add_new_category") %>
            	<i class="entypo-plus"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(function(){
			var $draggable_portlets = $(".draggable-portlets");
			
			$(".draggable-portlets .sorted").sortable({
				connectWith: ".draggable-portlets .sorted",
				handle: '.panel-heading',
				start: function()
				{
					$draggable_portlets.addClass('dragging');
				},
				stop: function()
				{
          $("#form_sortnavigation .panel input[name^='navigation_ids[']").each(function(i){
            $(this).val(i);
          });
					$draggable_portlets.removeClass('dragging');
          $("#form_sortnavigation").submit();
				}
			});
			$( ".draggable-portlets .sorted .panel-heading" ).disableSelection();
		});
	});
</script>
<%=render :partial => "modal_addnavigation", :locals => {:menu => @menu} %>
<% @menu.navigations.each do |navigation| %>
<%=render :partial => "modal_editnavigation", :locals => {:navigation => navigation} %>
<% end %>