<% content_for :body_class, "page-body" %>

<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/dashboard_menuheader" %>
    <ul id="main-menu">
      <%=render :partial => "layouts/dashboard_menu" %>
    </ul>
  </div>
  <div class="main-content">
    <%=render :partial => "layouts/dashboard_topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="index.html"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li class="">
        <a href="<%=url_for :controller => "menumalist", :action => "index" %>">Alle Speisekarten</a>
      </li>
      <li class="">
        <a href="<%=url_for :controller => "menumalist", :action => "categories", :menu_title => @navigation.menu.title.gsub(" ","-"), :menu_id => @navigation.menu.id %>"><%=@navigation.menu.title %></a>
      </li>
      <% if @navigation.navigation != nil%>
      <li class="">
        <a href="<%=url_for :controller => "menumalist", :action => "category", :menu_title => @navigation.menu.title.gsub(" ","-"), :menu_id => @navigation.menu.id, :navigation_title => @navigation.navigation.title.gsub(" ","-"), :navigation_id => @navigation.navigation.id %>"><%=@navigation.navigation.title %></a>
      </li>
      <% end %>
      <li class="active">
        <strong><%=@navigation.title %></strong>
      </li>
    </ol>
    <div class="row gallery-env draggable-portlets">
      <%= form_tag({:controller => "ajax", :action => "sortnavigation"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload", :id => "form_sortnavigation"}) do %>
      <span class="sorted ui-sortable">
        <% @navigation.sub_navigations.each do |navigation| %>
		     <div class="col-sm-3" style="margin-bottom:17px;">
			     <div class="panel panel-primary" data-collapsed="0" style="margin-bottom:0px;">
			     	<div class="panel-heading">
			     		<div class="panel-title">
                <input type="hidden" name="navigation_ids[<%=navigation.id %>]" value="">
                <b><%=navigation.title %></b>
              </div>
			     	</div>
			     	<div class="panel-body" style="margin:0px;padding:0px;">
    	      	<article class="album" style="margin-bottom:0px;border-width:0px;">
    	      		<header>
    	      			<a href="<%=url_for :controller => "menumalist", :action => "category", :menu_title => @navigation.menu.title.gsub(" ","-"), :menu_id => @navigation.menu.id, :parent_navigation_title => @navigation.title.gsub(" ","-"), :parent_navigation_id => @navigation.id, :navigation_title => navigation.title.gsub(" ","-"), :navigation_id => navigation.id %>">
    	      				<% if navigation.image.present? %>
                    <img src="<%=navigation.image.url(:cropped) %>" />
                    <% else %>
                    <img src="http://placehold.it/622x566" />
                    <% end %>
    	      			</a>
    	      		</header>
    	      		<footer>
    	      			<div class="album-images-count" style="padding-left:10px;padding-right:10px;">
    	      				<%=navigation.dishes.count %>
    	      				<i class="glyphicon glyphicon-cutlery"></i>
    	      			</div>
    	      			<div class="album-options">
    	      				<a href="javascript:;" onclick="jQuery('#modal-editnavigation-<%=navigation.id %>').modal('show');">
    	      					<i class="entypo-cog"></i>
    	      				</a>
    	      			</div>
    	      		</footer>
    	      	</article>
			     	</div>
			    </div>
        </div>
        <% end %>
      </span>
      <% end %>
      <%= form_tag({:controller => "ajax", :action => "sortdish"}, {:multipart => true, :role => "form", :class => "pl8es_c_ajaxform_noreload", :id => "form_sortdish"}) do %>
      <span class="sorted ui-sortable">
        <% @navigation.dishes.each do |dish| %>
		     <div class="col-sm-3" style="margin-bottom:17px;">
			     <div class="panel panel-primary" data-collapsed="0" style="margin-bottom:0px;">
			     	<div class="panel-heading">
			     		<div class="panel-title">
                <input type="hidden" name="dish_ids[<%=dish.id %>]" value="">
                <b><%=dish.title %></b>
              </div>
			     	</div>
			     	<div class="panel-body" style="margin:0px;padding:0px;">
    	      	<article class="album" style="margin-bottom:0px;border-width:0px;">
    	      		<header>
    	      			<img src="http://placehold.it/1024x1024" />
    	      		</header>
    	      		<footer>
    	      			<div class="album-options">
    	      				<a href="javascript:;" onclick="jQuery('#modal-editdish-<%=dish.id %>').modal('show');">
    	      					<i class="entypo-cog"></i>
    	      				</a>
    	      			</div>
    	      		</footer>
    	      	</article>
			     	</div>
			    </div>
        </div>
        <% end %>
      </span>
      <% end %>
      <% if @navigation.dishes.count == 0 && @navigation.level == 0 %>
      <div class="col-sm-3" style="height:240px;">
        <div style="margin-top:50%;text-align:center;">
          <a href="javascript:;" onclick="jQuery('#modal-addnavigation').modal('show');">
            <button type="button" class="btn btn-green btn-icon btn-lg  icon-left">
            	Add category
            	<i class="entypo-plus"></i>
            </button>
          </a>
        </div>
      </div>
      <% end %>
      <% if @navigation.sub_navigations.count == 0 %>
      <div class="col-sm-3" style="height:240px;">
        <div style="margin-top:50%;text-align:center;">
          <a href="javascript:;" onclick="jQuery('#modal-adddish').modal('show');">
            <button type="button" class="btn btn-green btn-icon btn-lg  icon-left">
            	Add dish
            	<i class="entypo-plus"></i>
            </button>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(function(){
			var $draggable_portlets = $(".draggable-portlets");
			
			$(".draggable-portlets .sorted" ).sortable({
				connectWith: ".draggable-portlets .sorted",
				handle: '.panel-heading',
				start: function()
				{
					$draggable_portlets.addClass('dragging');
				},
				stop: function()
				{
					$draggable_portlets.removeClass('dragging');
          
          var f = $(this).closest("form");
          if (f.attr("id") == "form_sortnavigation")
          {
            $("#form_sortnavigation .panel input[name^='navigation_ids[']").each(function(i){
              $(this).val(i);
            });
            $("#form_sortnavigation").submit();
          }
          else if (f.attr("id") == "form_sortdish")
          {
            $("#form_sortdish .panel input[name^='dish_ids[']").each(function(i){
              $(this).val(i);
            });
            $("#form_sortdish").submit();
          }
				}
			});
			$( ".draggable-portlets .sorted .panel-heading" ).disableSelection();
		});
	});
</script>
<%=render :partial => "modal_addnavigation", :locals => {:menu => @navigation.menu, :navigation => @navigation} %>
<% @navigation.sub_navigations.each do |navigation| %>
<%=render :partial => "modal_editnavigation", :locals => {:navigation => navigation} %>
<% end %>
<%=render :partial => "modal_adddish", :locals => {:navigation => @navigation} %>
<% @navigation.dishes.each do |dish| %>
<%=render :partial => "modal_editdish", :locals => {:dish => dish} %>
<% end %>