<% content_for :body_class, "page-body" %>

<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/dashboard_menuheader" %>
    <ul id="main-menu">
      <%=render :partial => "layouts/dashboard_menu" %>
    </ul>
  </div>  
  <div class="main-content">
    <%=render :partial => "layouts/dashboard_topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="index.html"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li class="active">
        <strong>Alle Speisekarten</strong>
      </li>
    </ol>
    <div class="row">
      <div class="col-md-8">
    	  <div class="col-sm-6">
    	  	<div class="tile-stats tile-white">
    	  		<div class="icon"><i class="entypo-monitor"></i></div>
    	  		<div class="num" data-start="0" data-end="1" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;">0</div>
            <span style="color:#000;font-size:28px;display:inline-block;margin-left:10px;">/ 1</span>
    	  		<h3>installations</h3>
            <p>on iPads
              <button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
                want more?
                <i class="entypo-plus"></i>
              </button>
            </p>
    	  	</div>
    	  </div>
      </div>
    </div>
    <h2>Alle Speisekarten</h2>
    <br />
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped responsive">
          <thead>
            <tr>
              <th width="58%">Menu</th>
              <th width="14%">Categories</th>
              <th width="14%">Dishes</th>
              <th width="14%">Drinks</th>
            </tr>
          </thead>
          <tbody>
            <% @user.menus.each do |menu| %>
            <tr style="font-size: 18px;">
              <td>
                <a href="<%=url_for :controller => "menumalist", :action => "categories", :menu_title => menu.title.gsub(" ","_"), :menu_id => menu.id %>">
                  <%=menu.title.gsub(" ","_") %>
                </a>
                <span class="badge badge-primary"><%=menu.menuLabel.title if menu.menuLabel != nil %></span>
                <span class="pl8es_c_table-toolbar">
                  <button type="button" class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                    <i class="entypo-pencil"></i>
                  </button>
                  <a href="javascript:;" onclick="pl8es_f_duplicate('<%=menu.id %>')">
                    <button type="button" class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Duplicate">
                      <i class="entypo-docs"></i>
                    </button>
                  </a>
                  <a href="javascript:;" onclick="jQuery('#modal-editmenu-<%=menu.id %>').modal('show');">
                    <button type="button" class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                      <i class="entypo-cog"></i>
                    </button>
                  </a>
                <span>
              </td>
              <td><a href="#"><%=menu.navigations.count %> <i class="entypo-folder" style="color:#ccc;"></i></a></td>
              <td><a href="#"><%=0 %> <i class="glyphicon glyphicon-cutlery" style="color:#ccc;"></i></a></td>
              <td><a href="#"><%=0 %> <i class="glyphicon glyphicon-glass" style="color:#ccc;"></i></a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <a href="javascript:;" onclick="jQuery('#modal-addmenu').modal('show');">
          <button type="button" class="btn btn-green btn-icon icon-left">
          	Add new speisekarte
          	<i class="entypo-plus"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<%=render :partial => "modal_addmenu" %>
<% @user.menus.each do |o| %>
<%=render :partial => "modal_editmenu", :locals => {:menu => o} %>
<% end %>