<% content_for :body_class, "page-body" %>
<div class="page-container">
  <div class="sidebar-menu">
    <%=render :partial => "layouts/dashboard_menuheader" %>
    <%=render :partial => "layouts/dashboard_menu" %>
  </div>
  <div class="main-content">
    <%=render :partial => "layouts/dashboard_topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="<%=url_for :controller => "dashboard", :action => "index" %>"><i class="entypo-home"></i>Dashboard</a>
      </li>
      <li class="active">
        <strong><%=t("menumalist.all_menus") %></strong>
      </li>
    </ol>
    <div class="row">
      <div class="col-sm-4">
      	<div class="tile-stats tile-white">
      		<div class="icon">
      			<i class="glyphicon glyphicon-download"></i>
      		</div>
      		<div class="num">
      			<h2><%=@user.restaurant.download_code %></h2>
      		</div>
      		<div class="title">
      			<p><%=t("menumalist.download_code_title") %></p>
      		</div>
      	</div>
      </div>
      <div class="col-sm-4">
    	 	<div class="tile-stats tile-white">
    	 		<div class="icon"><i class="entypo-monitor"></i></div>
    	 		<div class="num" data-start="0" data-end="<%=@user.devices.actives.count %>" data-postfix="" data-duration="1500" data-delay="600" style="display:inline-block;">0</div>
          <span style="color:#000;font-size:28px;display:inline-block;margin-left:10px;">/ 1</span>
    	 		<h3><%=t("menumalist.installations") %></h3>
          <p><%=t("menumalist.installations_on_iPad") %>
            <button type="button" class="btn btn-default btn-icon btn-xs icon-left" style="margin-top: -2px">
              <%=t("menumalist.installations_want_more") %>
              <i class="entypo-plus"></i>
            </button>
          </p>
    	  </div>
    	</div>
      <div class="col-sm-4">
    	 	<div class="tile-stats tile-white">
    	 		<div class="icon"><i class="entypo-brush"></i></div>
    	 		<h2><%=t("menumalist.design") %></h3>
          <a href="javascript:;" onclick="jQuery('#modal-design').modal('show');">
            <button type="button" class="btn btn-default btn-icon icon-left" style="margin-top: -2px">
              <%=t("menumalist.design_change") %>
              <i class="entypo-brush"></i>
            </button>
          </a>
    	  </div>
    	</div>
    </div>
    <h2><%=t("menumalist.all_menus") %></h2>
    <br />
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped responsive">
          <thead>
            <tr>
              <th width="40%"><%=t("menumalist.menu") %></th>
              <th width="180px;" style="width:180px;"></th>
              <th width=""><%=t("menumalist.categories") %></th>
              <th width=""><%=t("menumalist.dishes") %></th>
            </tr>
          </thead>
          <tbody>
            <% @user.restaurant.menus.each do |menu| %>
            <tr style="font-size: 18px;">
              <td>
                <a href="<%=url_for :controller => "menumalist", :action => "categories", :menu_title => menu.title.gsub(" ","-"), :menu_id => menu.id %>">
                  <%=menu.title %>
                  <span class="badge badge-primary"><%=menu.from_time %> - <%=menu.to_time %></span>
                </a>
              </td>
              <td>
                <span class="pl8es_c_table-toolbar">
                  <a href="<%=url_for :controller => "menumalist", :action => "categories", :menu_title => menu.title.gsub(" ","-"), :menu_id => menu.id %>">
                    <button type="button" class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                      <i class="entypo-pencil"></i>
                    </button>
                  </a>
                  <a href="javascript:;" onclick="pl8es_f_duplicate(<%=menu.id %>);">
                    <button type="button" class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Duplicate">
                      <i class="entypo-docs"></i>
                    </button>
                  </a>
                  <a href="javascript:;" onclick="jQuery('#modal-editmenu-<%=menu.id %>').modal('show');">
                    <button type="button" class="btn btn-default tooltip-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                      <i class="entypo-cog"></i>
                    </button>
                  </a>
                <span>
              </td>
              <td><a href="<%=url_for :controller => "menumalist", :action => "categories", :menu_title => menu.title.gsub(" ","-"), :menu_id => menu.id %>"><%=menu.navigations.count %> <i class="entypo-folder" style="color:#ccc;"></i></a></td>
              <td><%=menu.dishes.count %> <i class="glyphicon glyphicon-cutlery" style="color:#ccc;"></i></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <a href="javascript:;" onclick="jQuery('#modal-addmenu').modal('show');">
          <button type="button" class="btn btn-green btn-icon icon-left">
          	<%=t("menumalist.add_new_menu") %>
          	<i class="entypo-plus"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("form").each(function(){
    var f = $(this);
    var d = f.find("select[name='default_language']");
    d.on("change",function(){
      f.find("input[name^='languages']").each(function(){
        $(this).iCheck("enable");
      });
      $("input[name='languages["+d.val()+"]']").each(function(){
        $(this).iCheck("check").iCheck("disable");
      });
    });
  });
});
</script>
<%=render :partial => "modal_design", :locals => {:navigation => Navigation.first} %>
<%=render :partial => "modal_addmenu" %>
<% @user.restaurant.menus.each do |menu| %>
<%=render :partial => "modal_editmenu", :locals => {:menu => menu} %>
<% end %>