<%= link_to new_object_path, remote: true do %>
	<div class="<%= model.name.downcase %> new-tile col-sm-<%= defined?(big) ? "4" : "3" %>">
		<div class="panel panel-primary">
			<div class="panel-body">
				<article class="album">
					<header>
						<%= image_tag "placeholders/3x2.png" %>
					</header>
					<% if defined? model %>
						<div class="center-wrapper">
							<p class="panel-title"><%= t("forms.new", :model => model.model_name.human) %></p>
						</div>
						<div class="center-wrapper plus-wrapper">
							<span>+</span>
						</div>
					<% end %>
				</article>
			</div>
		</div>
	</div>
<% end %>