<% unless action_name == "update" || action_name == "destroy_image"%>
	<div class="col-sm-3 category-holder" id="category-holder-<%= category.id %>">
<% end %>
		<div class="panel panel-primary" data-collapsed="0">
			<div class="panel-body" style="margin:0px;padding:0px;">
				<article class="album" style="margin-bottom:0px;border-width:0px;">
					<header>
						<%= link_to menu_category_path(category.menu, category) do %>
							<%= image_tag category.image.url(:web_preview_cropped) %>
						<% end %>
					</header>
					<div class="panel-heading">
						<input type="hidden" name="category_ids[<%=category.id %>]" value="">
						<div class="panel-title ellipsis" style="word-wrap: break-word; overflow: hidden;">
							<%=category.title %>
						</div>
					</div>
					<footer>
						<div class="album-images-count" style="padding-left:10px;padding-right:10px;">
							<% if category.children.count > 0 %>
								<%=category.children.count %>
								<i class="entypo-folder"></i>
							<% elsif category.dishes.count > 0 %>
								<%=category.dishes.count %>
								<i class="glyphicon glyphicon-cutlery"></i>
							<% end %>
						</div>
						<div class="album-options">
							<%= link_to edit_menu_category_path(category.menu, category), remote: true do %>
								<i class="entypo-cog"></i>
							<% end %>
						</div>
					</footer>
				</article>
			</div>
		</div>
<% unless action_name == "update" || action_name == "destroy_image"%>
	</div>
<% end %>