<% Category.validators.find{|v| v.class.to_s == "DimensionsValidator"}.options %>

<script type="text/javascript" charset="utf-8">
	$(function() {
		$('#cropbox').Jcrop({
			onChange: update_crop,
			onSelect: update_crop,
			setSelect: [0, 0, 500, 500],
			boxWidth: 580,
      boxHeight: 388,
			aspectRatio: <%= get_aspect_ratio_of_image(Category) %>
		});
	});
	
	function update_crop(coords) {
		var ratio = <%= @category.image_geometry(:original).width %> / <%= @category.image_geometry(:web_large).width %>;
		$("#crop_x").val(Math.round(coords.x * ratio));
		$("#crop_y").val(Math.round(coords.y * ratio));
		$("#crop_w").val(Math.round(coords.w * ratio));
		$("#crop_h").val(Math.round(coords.h * ratio));
	}
</script>

<%= form_for [@menu, @category], remote: true do |f| %>
	<div class="gallery-image-edit-env">
		<%= image_tag @category.image.url(:web_large), :id => "cropbox" %>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	</div>

	<% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
		<%= f.hidden_field attribute, :id => attribute %>
	<% end %>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("forms.cancel") %></button>
		<%= f.button :type => "submit", :class => "btn btn-info icon-left" do %>
			<% if ["new", "create"].include? action_name %>
				<i class="entypo-plus"></i>
			<% end %>
			<%= t("forms.submit_#{action_name}", :model => Menu.model_name.human) %>
		<% end %>
	</div>
<% end %>