<%= form_for [@menu, @category], remote: true do |f| %>
	<div class="gallery-image-edit-env <%= 'new-image' unless @category.image.exists? %>">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<% if @category.image.exists? %>
			<%= image_tag @category.image.url(:web_large_cropped) %>
			
			<%= link_to menu_crop_category_path(@category.menu, @category), remote: true do %>
				<button type="button" class="btn btn-primary crop-button">Crop</button>
			<% end %>
			<%= render file: "modals/delete", locals: { destroy_link: menu_destroy_category_image_path(@category.menu, @category), remote: true } %>
		<% else %>
			<%= f.file_field :image, data: { validate: "filedimension", imgvalidation: "828x552" }, accept: "image/*" %>
			<%= render :partial => 'modals/new_image_div' %>
		<% end %>
	</div>

	<div class="modal-header">
		<h4 class="modal-title"><%= t("forms.#{action_name}", :model => Menu.model_name.human) %></h4>
		<ul class="nav nav-tabs">
			<% # generate the tabs from the languages %>
			<% @languages.each do |language| %>
				<li class="<%= :active if language == @default_language %>">
					<%= link_to "#category-form-#{language.locale}", :data => {:toggle => :tab} do %>
						<%= language.title.capitalize %>
						<%= "(" + t("language.default") + ")" if language == @default_language %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 tab-content">
				<% hold_locale = I18n.locale %>
				<% @languages.each do |language| %>
					<% # change the translation for the fields %>
					<% I18n.locale = language.locale %>
					<span class="tab-pane <%= "active" if @default_language == language %> form-group" id="category-form-<%= language.locale %>">
						<%= f.label "title_#{language.locale}", :class => "control-label" do %>
							<strong><%=t("menumalist.category.title") %></strong> - <%= language.title.capitalize %><%=" (Default)" if @default_language == language %>
						<% end %>
						<%= f.text_field "title_#{language.locale}", :class => "form-control", :id => "form-title[#{language.locale}]", :placeholder => t("menumalist.category.title_example") %>
					</span>
				<% end %>
				<% I18n.locale = hold_locale %>
				
				<label class="control-label"><strong><%=t("menumalist.category.design") %></strong></label>
				<div class="row">
					<div class="col-sm-6">
						<%= f.radio_button :style, :default, checked: @category.style == "default", class: "icheck-2-radio" %>
						<%= f.label :style, t("menumalist.category.design_default"), value: :default %>
					</div>
					<div class="col-sm-6">
						<%= f.radio_button :style, :grid, checked: @category.style == "grid", class: "icheck-2-radio" %>
						<%= f.label :style, t("menumalist.category.design_grid"), value: :grid %>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<% if @category.errors.any? %>
		<div id="error-explanation">
			<h2><%= pluralize(@category.errors.count, "error") %> prohibited this task from being saved:</h2>
			
			<ul>
			<% @category.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="modal-footer">
		<% # only display the destroy button on edit %>
		<%= render :file => "modals/delete", :locals => {:destroy_link => menu_category_path(@menu, @category), :remote => true} if ["edit", "update", "destroy_image"].include? action_name %>
		
		<button type="button" class="btn btn-default" data-dismiss="modal"><%=t("forms.cancel") %></button>
		<%= f.button :type => "submit", :class => "btn btn-info icon-left" do %>
			<% if ["new", "create"].include? action_name %>
				<i class="entypo-plus"></i>
			<% end %>
			<%= t("forms.submit_#{action_name}", :model => Menu.model_name.human) %>
		<% end %>
	</div>
<% end %>