<ol class="breadcrumb bc-3">
	<li>
		<a href="<%=dashboard_index_path %>">
			<i class="entypo-home"></i>
			<%=t("layouts.menu.dashboard") %>
		</a>
	</li>
	<li class="active">
		<strong><%=t("layouts.menu.restaurant") %></strong>
	</li>
</ol>
<div class="profile-env">
	<header class="row" style="height:100px;">
		<div class="col-sm-2">
			<img src="<%=@user.restaurant.logo_image.url(:cropped_website) %>" alt="" class="" width="108" height="72" />
		</div>
		<div class="col-sm-10">
			<ul class="profile-info-sections">
				<li>
					<div class="profile-name">
						<strong style="color:#000">
							<%=@user.restaurant.name %>
						</strong>
						<span>
							<%=@user.restaurant.email %>
						</span>
					</div>
				</li>
				<li>
					<div class="profile-stat">
						<h3><%=@user.restaurant.menus.count %></h3>
						<a href="<%=menus_path %>">
							<span><%=@user.restaurant.menus.count == 1 ? t("profile.menu") : t("profile.menus") %></span>
						</a>
					</div>
				</li>
				<li>
					<div class="profile-stat">
						<h3><%=[@user.restaurant.dailycious_credits.where(:usage_date => Date.today).count+1,@user.restaurant.daily_dishes.where(:display_date => Date.today.to_datetime).count].min %></h3>
						<span><%=[@user.restaurant.dailycious_credits.where(:usage_date => Date.today).count+1,@user.restaurant.daily_dishes.where(:display_date => Date.today.to_datetime).count].min == 1 ? t("profile.dish") : t("profile.dishes") %></span>
					</div>
				</li>
			</ul>
		</div>
	</header>
	<section class="profile-info-tabs">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-10">
				<ul class="user-details">
					<li>
						<i class="entypo-location"></i>
						<%=@user.restaurant.location.address %>
					</li>
					<li>
						<i class="entypo-location"></i>
						<%=@user.restaurant.location.zip %>, <%=@user.restaurant.location.city %>
					</li>
					<li>
						<i class="entypo-location"></i>
						<%=@user.restaurant.location.country %>
					</li>
					<% if @user.restaurant.tags.count >= 1 %>
					<li>
						<i class="entypo-user"></i>
						<%=@user.restaurant.tags.first.title %>
					</li>
					<% end %>
					<% if @user.restaurant.tags.count == 2 %>
					<li>
						<i class="entypo-user"></i>
						<%=@user.restaurant.tags.last.title %>
					</li>
					<% end %>
					<% if @user.restaurant.website && @user.restaurant.website.length > 0 %>
					<li>
						<a href="<%=@user.restaurant.website %>" target="_blank">
							<i class="entypo-globe"></i>
							<%=@user.restaurant.website %>
						</a>
					</li>
					<% end %>
					<% if @user.restaurant.telephone && @user.restaurant.telephone.length > 0 %>
					<li>
						<i class="entypo-phone"></i>
						<%=@user.restaurant.telephone %>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</section>
	<div class="row">
		<div class="col-sm-12">
			<div class="profile-buttons">
				<a href="javascript:;" onclick="jQuery('#modal-editsettings').modal('show');" class="btn btn-white btn-icon icon-left" style="margin-right:12px;">
					<i class="entypo-cog"></i>
					<%=t("profile.account_settings") %>
				</a>
				<a href="javascript:;" onclick="jQuery('#modal-editdescription').modal('show');" class="btn btn-white btn-icon icon-left">
					<i class="entypo-brush"></i>
					<%=t("profile.restaurant_description") %>
				</a>
			</div>
		</div>
	</div>
	<header class="row" style="margin-bottom:60px;">
		<img src="<%=@user.restaurant.restaurant_image.url(:cropped_default_retina) %>" alt="" class="col-sm-4" />
		<div class="col-sm-8">
			<br />
			<%=@user.restaurant.description %>
		</div>
	</header>
	<section class="profile-feed">
		<div class="profile-stories">
			<div class="row gallery-env draggable-portlets">
				<%
				for i in 0..6
					current_date = (Date.today.beginning_of_week+i)
					todays_dailycious_credits = @user.restaurant.dailycious_credits.where(:usage_date => current_date)
					todays_daily_dishes = @user.restaurant.daily_dishes.where(:display_date => current_date.to_datetime)
				%>
				<div class="row">
					<div class="col-sm-12">
						<h4><%=current_date.strftime("%d. %B %Y") %></h4>
					</div>
				</div>
				<div class="row">
					<span class="sorted ui-sortable">
						<%=render(:partial => "neon/public_daily_dish_panel", :locals => {:daily_dish => todays_daily_dishes[0]}) if todays_daily_dishes.count > 0 %>
						<% todays_dailycious_credits.each_with_index do |dailycious_credit, index| %>
							<%=render(:partial => "neon/public_daily_dish_panel", :locals => {:daily_dish => todays_daily_dishes[index+1]}) if todays_daily_dishes[index+1] %>
						<% end %>
					</span>
				</div>
				<% end %>
			</div>
		</div>
	</section>
</div>
<%=render :partial => "layouts/footer" %>

<%=render :partial => "modal_editsettings" %>
<%=render :partial => "modal_editdescription" %>