<% content_for :body_class, "page-body" %>
<div class="page-container" style="<%="padding-left:0px;" if @user == nil %>">
  <% if @user %>
  <div class="sidebar-menu">
    <%=render :partial => "layouts/menuheader", :locals => {:logo => asset_path("logo-dailycious.png")} %>
    <%=render :partial => "layouts/menu" %>
  </div>
  <% end %>
  <div class="main-content">
    <% if @user %>
    <%=render :partial => "layouts/topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="<%=url_for :controller => "dashboard", :action => "index" %>">
          <i class="entypo-home"></i>
          <%=t("layouts.menu.dashboard") %>
        </a>
      </li>
      <li class="active">
        <strong><%=t("layouts.menu.restaurant") %></strong>
      </li>
    </ol>
    <% end %>
    <div class="profile-env">
     	<header class="row" style="height:100px;">
     		<div class="col-sm-2">
     			<img src="<%=@visit_restaurant.logo_image.url(:cropped_website) %>" alt="" class="" width="108" height="72" />
     		</div>
     		<div class="col-sm-10">
     			<ul class="profile-info-sections">
     				<li>
     					<div class="profile-name">
     						<strong style="color:#000">
     							<%=@visit_restaurant.name %>
                </strong>
     						<span>
     							<%=@visit_restaurant.email %>
     						</span>
     					</div>
     				</li>
     				<li>
     					<div class="profile-stat">
     						<h3><%=@visit_restaurant.menus.count %></h3>
     						<a href="<%=url_for :controller => "menumalist", :action => "index" %>">
                  <span><%=@visit_restaurant.menus.count == 1 ? t("profile.menu") : t("profile.menus") %></span>
                </a>
     					</div>
     				</li>
     				<li>
     					<div class="profile-stat">
     						<h3><%=@visit_restaurant.dishes.count %></h3>
     						<span><%=@visit_restaurant.dishes.count == 1 ? t("profile.dish") : t("profile.dishes") %></span>
     					</div>
     				</li>
     			</ul>
     		</div>
     	</header>
     	<section class="profile-info-tabs">
     		<div class="row">
     			<div class="col-sm-offset-2 col-sm-10">
     				<ul class="user-details">
     					<li>
                <i class="entypo-location"></i>
                <%=@visit_restaurant.location.address %>
     					</li>
     					<li>
                <i class="entypo-location"></i>
                <%=@visit_restaurant.location.zip %>, <%=@visit_restaurant.location.city %>
     					</li>
     					<li>
                <i class="entypo-location"></i>
                <%=@visit_restaurant.location.country %>
     					</li>
              <% if @visit_restaurant.categories.count >= 1 %>
     					<li>
                <i class="entypo-user"></i>
                <%=@visit_restaurant.categories.first.title %>
     					</li>
              <% end %>
              <% if @visit_restaurant.categories.count == 2 %>
     					<li>
                <i class="entypo-user"></i>
                <%=@visit_restaurant.categories.last.title %>
     					</li>
              <% end %>
     				</ul>
     			</div>
     		</div>
     	</section>
      <% if @user && @user.restaurant == @visit_restaurant %>
      <div class="row">
        <div class="col-sm-12">
          <div class="profile-buttons">
          	<a href="javascript:;" onclick="jQuery('#modal-editsettings').modal('show');" class="btn btn-white btn-icon icon-left" style="margin-right:12px;">
          		<i class="entypo-cog"></i>
          		<%=t("profile.account_settings") %>
          	</a>
          	<a href="javascript:;" onclick="jQuery('#modal-editdescription').modal('show');" class="btn btn-white btn-icon icon-left">
          		<i class="entypo-brush"></i>
          		<%=t("profile.restaurant_description") %>
          	</a>
          </div>
        </div>
      </div>
      <% end %>
     	<header class="row" style="margin-bottom:60px;">
     		<img src="<%=@visit_restaurant.restaurant_image.url(:cropped_default_retina) %>" alt="" class="col-sm-4" />
     		<div class="col-sm-8">
          <br />
          <%=@visit_restaurant.description %>
     		</div>
     	</header>
      <section class="profile-feed">
      	<div class="profile-stories">
          <% @visit_restaurant.daily_dishes.where([
            "display_date >= (?) AND display_date < (?)",
            DateTime.now-7.days,
            DateTime.now
          ]).reverse.each do |daily_dish_level| %>
          <% daily_dishes = @visit_restaurant.daily_dishes.where(["display_date = (?)", daily_dish_level.display_date]) %>
          <article class="story">
          	<div class="story-content" style="width:100%;">
          		<header>
          			<div class="publisher">
          				<strong><%=@visit_restaurant.name %></strong> published <%=daily_dishes.count %> daily dish
          				<em><%=(DateTime.now.to_date-daily_dish_level.display_date.to_date).to_i %> days ago</em>
          			</div>
          			<div class="story-type">
          				<i class="entypo-newspaper"></i>
          			</div>
          		</header>
          		<div class="story-main-content">
          			<div class="row">
                  <% daily_dishes.each do |daily_dish| %>
          				<div class="col-sm-3">
                    <img class="img-responsive full-width unveil" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%=daily_dish.image.present? ? daily_dish.image.url(:cropped_default_retina) : "http://placehold.it/400x400" %>" />
          				</div>
                  <% end %>
          			</div>
          		</div>
          	</div>
          </article>
          <% end %>
      	</div>
      </section>
    </div>
    <%=render :partial => "layouts/footer" %>
  </div>
</div>
<% if @user && @user.restaurant == @visit_restaurant %>
<%=render :partial => "modal_editsettings" %>
<%=render :partial => "modal_editdescription" %>
<% end %>