<% content_for :head_title, "dailycious | #{@visit_restaurant.name} - #{@visit_restaurant.location.zip} #{@visit_restaurant.location.city}, #{@visit_restaurant.location.country}" %>
<% content_for :body_class, "page-body" %>
<div class="page-container">
  <div class="sidebar-menu">
    <% if @user %>
    <%=render :partial => "layouts/menuheader", :locals => {:logo => asset_path("logo-dailycious.png")} %>
    <%=render :partial => "layouts/menu" %>
    <% else %>
    <%=render :partial => "layouts/menuheader", :locals => {:logo => asset_path("logo-dailycious.png")} %>
    <%=render :partial => "layouts/public_menu" %>
    <% end %>
  </div>
  <div class="main-content">
    <% if @user %>
    <%=render :partial => "layouts/topbar" %>
    <ol class="breadcrumb bc-3">
      <li>
        <a href="<%=dashboard_index_path %>">
          <i class="entypo-home"></i>
          <%=t("layouts.menu.dashboard") %>
        </a>
      </li>
      <li class="active">
        <strong><%=t("layouts.menu.restaurant") %></strong>
      </li>
    </ol>
    <% end %>
    <div class="profile-env">
     	<header class="row" style="height:100px;">
     		<div class="col-sm-2">
     			<img src="<%=@visit_restaurant.logo_image.url(:cropped_website) %>" alt="" class="" width="108" height="72" />
     		</div>
     		<div class="col-sm-10">
     			<ul class="profile-info-sections">
     				<li>
     					<div class="profile-name">
     						<strong style="color:#000">
     							<%=@visit_restaurant.name %>
                </strong>
     						<span>
     							<%=@visit_restaurant.email %>
     						</span>
     					</div>
     				</li>
            <% if @user %>
     				  <li>
     				  	<div class="profile-stat">
     				  		<h3><%=@visit_restaurant.menus.count %></h3>
     				  		<a href="<%=menus_path %>">
                    <span><%=@visit_restaurant.menus.count == 1 ? t("profile.menu") : t("profile.menus") %></span>
                  </a>
     				  	</div>
     				  </li>
     				  <li>
     					  <div class="profile-stat">
     					  	<h3><%=[@visit_restaurant.dailycious_credits.where(:usage_date => Date.today).count+1,@visit_restaurant.daily_dishes.where(:display_date => Date.today.to_datetime).count].min %></h3>
     					  	<span><%=[@visit_restaurant.dailycious_credits.where(:usage_date => Date.today).count+1,@visit_restaurant.daily_dishes.where(:display_date => Date.today.to_datetime).count].min == 1 ? t("profile.dish") : t("profile.dishes") %></span>
     					  </div>
     				  </li>
            <% end %>
     			</ul>
     		</div>
     	</header>
     	<section class="profile-info-tabs">
     		<div class="row">
     			<div class="col-sm-offset-2 col-sm-10">
     				<ul class="user-details">
     					<li>
                <i class="entypo-location"></i>
                <%=@visit_restaurant.location.address %>
     					</li>
     					<li>
                <i class="entypo-location"></i>
                <%=@visit_restaurant.location.zip %>, <%=@visit_restaurant.location.city %>
     					</li>
     					<li>
                <i class="entypo-location"></i>
                <%=@visit_restaurant.location.country %>
     					</li>
              <% if @visit_restaurant.categories.count >= 1 %>
     					<li>
                <i class="entypo-user"></i>
                <%=@visit_restaurant.categories.first.title %>
     					</li>
              <% end %>
              <% if @visit_restaurant.categories.count == 2 %>
     					<li>
                <i class="entypo-user"></i>
                <%=@visit_restaurant.categories.last.title %>
     					</li>
              <% end %>
              <% if @visit_restaurant.website && @visit_restaurant.website.length > 0 %>
     					<li>
                <a href="<%=@visit_restaurant.website %>" target="_blank">
                  <i class="entypo-globe"></i>
                  <%=@visit_restaurant.website %>
                </a>
     					</li>
              <% end %>
              <% if @visit_restaurant.telephone && @visit_restaurant.telephone.length > 0 %>
     					<li>
                <i class="entypo-phone"></i>
                <%=@visit_restaurant.telephone %>
     					</li>
              <% end %>
     				</ul>
     			</div>
     		</div>
     	</section>
      <% if @user && @user.restaurant == @visit_restaurant %>
      <div class="row">
        <div class="col-sm-12">
          <div class="profile-buttons">
          	<a href="javascript:;" onclick="jQuery('#modal-editsettings').modal('show');" class="btn btn-white btn-icon icon-left" style="margin-right:12px;">
          		<i class="entypo-cog"></i>
          		<%=t("profile.account_settings") %>
          	</a>
          	<a href="javascript:;" onclick="jQuery('#modal-editdescription').modal('show');" class="btn btn-white btn-icon icon-left">
          		<i class="entypo-brush"></i>
          		<%=t("profile.restaurant_description") %>
          	</a>
          </div>
        </div>
      </div>
      <% end %>
     	<header class="row" style="margin-bottom:60px;">
     		<img src="<%=@visit_restaurant.restaurant_image.url(:cropped_default_retina) %>" alt="" class="col-sm-4" />
     		<div class="col-sm-8">
          <br />
          <%=@visit_restaurant.description %>
     		</div>
     	</header>
      <section class="profile-feed">
      	<div class="profile-stories">
          <div class="row gallery-env draggable-portlets">
            <%
            for i in 0..6
              current_date = (Date.today.beginning_of_week+i)
              todays_dailycious_credits = @visit_restaurant.dailycious_credits.where(:usage_date => current_date)
              todays_daily_dishes = @visit_restaurant.daily_dishes.where(:display_date => current_date.to_datetime)
            %>
            <div class="row">
              <div class="col-sm-12">
                <h4><%=current_date.strftime("%d. %B %Y") %></h4>
              </div>
            </div>
            <div class="row">
              <span class="sorted ui-sortable">
                <%=render(:partial => "neon/public_daily_dish_panel", :locals => {:daily_dish => todays_daily_dishes[0]}) if todays_daily_dishes.count > 0 %>
                <% todays_dailycious_credits.each_with_index do |dailycious_credit, index| %>
                  <%=render(:partial => "neon/public_daily_dish_panel", :locals => {:daily_dish => todays_daily_dishes[index+1]}) if todays_daily_dishes[index+1] %>
                <% end %>
              </span>
            </div>
            <% end %>
          </div>
      	</div>
      </section>
    </div>
    <%=render :partial => "layouts/footer" %>
  </div>
</div>
<% if @user && @user.restaurant == @visit_restaurant %>
<%=render :partial => "modal_editsettings" %>
<%=render :partial => "modal_editdescription" %>
<% end %>