<ul id="main-menu">
  <li>
  	<a href="index.html">
  		<i class="entypo-gauge"></i>
  		<span>Dashboard</span>
  	</a>
  </li>
  <li class="<%="active" if params[:controller] == "profile" %>">
  	<a href="<%=url_for :controller => "profile", :action => "index" %>">
  		<i class="entypo-user"></i>
  		<span>Restaurant</span>
  	</a>
  </li>
  <li class="<%="active" if params[:controller] == "menumalist" %>">
  	<a href="<%=url_for :controller => "menumalist", :action => "index" %>">
  		<i class="entypo-layout"></i>
  		<span>Speisekarten</span>
  	</a>
  </li>
  <li class="<%="active" if params[:controller] == "dailycious" %>">
  	<a href="<%=url_for :controller => "dailycious", :action => "index" %>">
  		<i class="entypo-newspaper"></i>
  		<span>Tagesmenüs</span>
  	</a>
  </li>
  <li>
  	<a href="mailbox.html">
  		<i class="entypo-mail"></i>
  		<span>Weinkarte</span>
  	</a>
  </li>
</ul>