<ul id="main-menu">
	<% if current_user && current_user.isAdmin %>
		<li class="<%="active" if params[:controller] == "admin" %>">
			<a href="<%= admin_index_path %>">
				<i class="entypo-gauge"></i>
				<span><%=t("layouts.menu.admin") %></span>
			</a>
		</li>
	<% end %>
	<li class="<%="active" if params[:controller] == "dashboard" %>">
		<a href="<%= dashboard_index_path %>">
			<i class="entypo-chart-area"></i>
			<span><%=t("layouts.menu.dashboard") %></span>
		</a>
	</li>
	<li class="<%="active" if params[:controller] == "profile" %>">
		<%= link_to restaurant_path(current_user.restaurant) do %>
			<i class="entypo-user"></i>
			<span><%=t("layouts.menu.restaurant") %></span>
		<% end %>
		</a>
	</li>
	<li class="<%="active" if params[:controller] == "dailycious" %>">
		<a href="<%= dailycious_path %>">
			<i class="entypo-direction"></i>
			<span><%=t("layouts.menu.dailycious") %></span>
		</a>
	</li>
	<li class="<%="active" if params[:controller] == "menumalist" %>">
		<a href="<%=menus_path %>">
			<i class="entypo-docs"></i>
			<span><%=t("layouts.menu.menumalist") %></span>
		</a>
	</li>
</ul>