<ul id="main-menu">
  <% if @user && @user.isAdmin %>
  <li class="<%="active" if params[:controller] == "admin" %>">
  	<a href="<%= admin_index_path %>">
  		<i class="entypo-gauge"></i>
  		<span><%=t("layouts.menu.admin") %></span>
  	</a>
  </li>
  <% end %>
  <li class="<%="active" if params[:controller] == "dashboard" %>">
  	<a href="<%= dashboard_index_path %>">
  		<i class="entypo-chart-area"></i>
  		<span><%=t("layouts.menu.dashboard") %></span>
  	</a>
  </li>
  <li class="<%="active" if params[:controller] == "profile" %>">
  	<a href="<%= profile_index_path %>">
  		<i class="entypo-user"></i>
  		<span><%=t("layouts.menu.restaurant") %></span>
  	</a>
  </li>
  <li class="<%="active" if params[:controller] == "dailycious" %>">
  	<a href="<%= dailycious_path %>">
  		<i class="entypo-direction"></i>
  		<span><%=t("layouts.menu.dailycious") %></span>
  	</a>
  </li>
  <li class="<%="active" if params[:controller] == "menumalist" %>">
  	<a href="<%=menumalist_path %>">
  		<i class="entypo-docs"></i>
  		<span><%=t("layouts.menu.menumalist") %></span>
  	</a>
  </li>
  <li class="<%="active" if params[:controller] == "invoice" %>">
  	<a href="<%= invoice_index_path %>">
  		<i class="entypo-info"></i>
  		<span><%=t("layouts.menu.invoices") %></span>
  	</a>
  </li>
</ul>