<div class="row topbar">
  <!-- Profile Info -->
  <div class="col-md-10 col-sm-8 clearfix">
    <ul class="user-info pull-left pull-none-xsm">
      <!-- Profile Info -->
      <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->
        <a href="<%= profile_index_path %>">
          <img src="<%= current_user.restaurant.logo_image.url(:cropped_website) %>" class="profile-logo" />
          <ul class="profile-info-right">
            <li class="profile-name"><%= current_user.restaurant.name %></li>
            <li class="profile-email"><%= current_user.email %></li>
          </ul>
        </a>
      </li>
    </ul>
    <ul class="profile-info-sections">
      <li>
        <div class="profile-stat">
          <h3><%= current_user.restaurant.daily_dishes.count %></h3>
          <a href="<%=dishes_path %>">
            <%= current_user.restaurant.daily_dishes.count == 1 ? t('profile.dish') : t('profile.dishes') %>
          </a>
        </div>
      </li>
      <li>
        <div class="profile-stat">
          <h3><%= current_user.restaurant.menus.count %></h3>
          <a href="<%=menus_path %>">
            <%= current_user.restaurant.menus.count == 1 ? t("profile.menu") : t("profile.menus") %>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2 col-sm-4 clearfix hidden-xs">
    <ul class="list-inline links-list pull-right">
      <li class="sep"></li>
      <li>
      		<%= link_to destroy_user_session_path, :method => "delete" do %>
      			<%= t("layouts.topbar.logout") %><i class="entypo-logout right"></i>
      		<% end %>
      </li>
    </ul>
  </div>
</div>