<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:head_title).length > 0 ? yield(:head_title) : "pl8" %></title>
		<%= stylesheet_link_tag		"application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body class="<%= yield (:body_class) %> page-body gray skin-white">
		<div class="loading-circle"></div>
		
		<script type="text/javascript">
			window._token = "<%= form_authenticity_token %>";
			var baseurl = "http://<%= request.env['HTTP_HOST'] %>/";
		</script>
		
		<% if current_user && session[:admin_id] && session[:admin_id] != current_user.id %>
			<a href="<%= user_switch_path(session[:admin_id]) %>" style="padding:10px;">Switch to admin [<%=User.find(session[:admin_id]).email %>]</a>
		<% end %>
		
		<div class="page-container">
			
			<%= render :partial => 'layouts/messages' %>
			
			<div class="sidebar-menu">
				<%= render :partial => "layouts/menuheader" %>
				<% if current_user %>
					<%= render :partial => "layouts/menu" %>
				<% else %>
					<%= render :partial => "layouts/public_menu" %>
				<% end %>
			</div>
			
			<div class="main-content">
				<%= render :partial => "layouts/topbar" if current_user && current_user.restaurant.present? %>
				
				<%= yield %>
				
				<%= render :partial => "layouts/footer" %>
			</div>
		</div>
		
		<% # temporarily yield the modals here, should get removed long term  %>
		<%= yield :modals %>
		
		<%= render :file => "modals/index" %>
	</body>
</html>