<!DOCTYPE html>
<html>
	<head>
		<title><%=yield(:head_title).length > 0 ? yield(:head_title) : "pl8" %></title>
		<%= stylesheet_link_tag 'dailycious', media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "dailycious", "data-turbolinks-track" => true %>
		
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<%= yield %>
	</body>
</html>