<!DOCTYPE html>
<html>
	<head>
		<title><%=yield(:head_title).length > 0 ? yield(:head_title) : "pl8" %></title>
		<%= stylesheet_link_tag 'dailycious', media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "dailycious", "data-turbolinks-track" => true %>
		
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<%= yield %>
	</body>
</html>