<!DOCTYPE html>
<html>
	<head>
		<title><%=yield(:head_title).length > 0 ? yield(:head_title) : "pl8" %></title>
		<%= stylesheet_link_tag		"devise", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body class="login-page page-body gray skin-white">
		<div class="loading-circle"></div>
		<%= render :partial => 'layouts/messages' %>
		
		<div class="login-container">
			<div class="login-header">
				
				<div class="login-content">
					<%= image_tag "logo-pl8.png", :width => 120 %>
					<p class="description"><%=t("login.welcome") %></p>
				</div>
			</div>
			
			<div class="login-form">
				<div class="login-content">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>